{% load i18n %}
{% load guardian_tags %}
{% get_obj_perms request.user for object.case.monitoring as "monitoring_perms" %}
<div class="clearfix">
    <div class="pull-right btn-group">
        {% if 'change_task' in monitoring_perms %}
            <a class="btn btn-default" href="{% url 'tasks:update' pk=object.pk %}">
                {% trans 'Edit' %}
            </a>
        {% endif %}
        {% if 'delete_task' in monitoring_perms %}
            <a class="btn btn-warning" href="{% url 'tasks:delete' pk=object.pk %}">
                {% trans 'Delete' %}
            </a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'tasks:fill_survey' pk=object.pk %}">
            {% if not user_survey %}{% trans 'Fill survey' %}
            {% else %}{% trans 'Update answer' %}{% endif %}
        </a>
        {% if user_survey %}
            <a href="{% url 'tasks:delete_survey' task_id=object.pk %}" class="btn btn-warning">
                {% trans 'Delete answer' %}
            </a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'tasks:survey' pk=object.pk %}">
            {% trans 'Answers' %}
        </a>
    </div>
</div>
