{% extends 'monitorings/base.html' %}
{% load i18n %}
{% block content %}

  {% block buttons %}
    {% include 'tasks/_btn.html' %}
  {% endblock %}
  {% block panel %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="glyphicon glyphicon-edit"></i> <a href="{{object.get_absolute_url}}">{{object}}</a></h3>
    </div>
    <div class="panel-body">
      {% block content_object %}{% endblock %}
    </div>
    <table class="table table-striped">
      {% block content_table %}{% endblock %}
    </table>
  </div>
  {% endblock %}
  {% block content_extra %}{% endblock %}
{% endblock %}
