{% extends 'tasks/survey_single.html' %}
{% load i18n %}

{% block breadcrumbs_row %}
    <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem"
        class="active">
        <span itemprop="name">{% trans 'Confirm select answer' %}</span>
    </li>
{% endblock %}

{% block content %}
    <div class="gray">
        <form method="POST">
            <div style="display:none">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
            <input type="submit" class="btn btn-primary" value="{% trans 'Credibility update' %}">
        </form>
    </div>
{% endblock %}
