{% extends 'tasks/survey_single.html' %}
{% load i18n crispy_forms_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ task.case.monitoring.get_absolute_url }}">{{ task.case.monitoring }}</a></li>
        <li><a href="{{ task.case.get_absolute_url }}">{{ task.case }}</a></li>
        <li><a href="{{ task.get_absolute_url }}">{{ task }}</a></li>
        <li class="active">{% trans 'Survey fill' %}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ task }}</h1>
    </div>
    <div class="gray">
        <form method="POST" action="{% url 'tasks:fill_survey' pk=task.pk %}">
            {% for form in formset %}
                <div class="well">
                    {% crispy form %}
                </div>
            {% endfor %}
            <div style="display:none">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
            <input type="submit" name="save" class="btn btn-primary" value="{% trans 'Save' %}">
            <input type="submit" name="save_next" class="btn btn-primary" value="{% trans 'Save and go next' %}">
        </form>
    </div>
{% endblock %}
