{% extends 'tasks/survey_single.html' %}
{% load i18n %}

{% block breadcrumbs_row %}
    <li class="active">{% trans 'Confirm delete' %}</li>
{% endblock %}

{% block content_object %}
    <div class="well">
        {% include 'tasks/_answer.html' with object_list=object.answer_set.all %}
    </div>
    <form method="POST">
        <div style="display:none">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>
        <input type="submit" class="btn btn-primary" value="{% trans 'Delete' %}">
    </form>
{% endblock %}
