{% extends 'tasks/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        {% if object %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.case.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ object.case.monitoring }}</span>
                </a>
            </li>
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.case.get_absolute_url }}">
                    <span itemprop="name">{{ object.case }}</span>
                </a>
            </li>
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.get_absolute_url }}">
                    <span itemprop="name">{{ object }}</span>
                </a>
            </li>
        {% elif case %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ case.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ case.monitoring }}</span>
                </a>
            </li>
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ case.get_absolute_url }}">
                    <span itemprop="name">{{ case }}</span>
                </a>
            </li>
        {% endif %}
        {% block breadcrumbs_row %}{% endblock %}
    </ol>
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'tasks/_btn.html' with object=object %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1 class="page-header">
            <i class="fa fa-edit"></i>
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        </h1>
    {% endif %}
    {% block content_object %}{% endblock %}
{% endblock %}
