{% extends 'institutions/base.html' %}
{% load i18n crispy_forms_tags %}
{% block buttons %}
<div class="clearfix">
    <div class="pull-right btn-group">
        <a class="btn btn-default" href="{% url 'tasks:create' %}">{% trans 'Create task' %}</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Tasks index' %}</h1>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="red">
            {% crispy filter.form %}
        </div>
    </div>

    <div class="col-sm-9">
        {% for object in object_list %}
        {% include 'tasks/_progress.html' with progress=stats.progress max=stats.required_count value=stats.done_count %}

        <div class="gray">
            {% include 'tasks/_task_small.html' with object=object %}
        </div>
        {% empty %}
        <div class="gray">
            <p>
                {% trans 'No rows.' %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
