{% extends 'institutions/base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="clearfix">
    <div class="pull-right btn-group">
        <a class="btn btn-default" href="{% url 'tasks:create' %}">{% trans 'Create task' %}</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {% crispy filter.form %}
    </div>
    <div class="col-md-10">
        {% if object_list %}
        {% for object in object_list %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="{{object.get_absolute_url}}">{{object}}</a></h3>
        </div>
        <div class="panel-body">
            <p>Case: <a href="{{object.case.get_absolute_url}}">{{object.case}}</a></p>
            <p>Questionary: <a href="{{object.questionary.get_absolute_url}}">{{object.questionary}}
            </div>
            <table class="table table-stripped">
                {# TODO: Some rows #}
            </table>
        </div>
        {% endfor %}
        {% else %}
        {% trans 'No rows.' %}
        {% endif %}
    </div>
</div>
{% endblock %}
