{% extends 'tasks/base_object.html' %}
{% load i18n %}
{% block content_table %}
    <tr>
        <td>{% trans "Case" %}</td>
        <td><a href="{{object.case.get_absolute_url}}">{{object.case}}</a></td>
    </tr>
    <tr>
        <td>{% trans "Questionary"%}</td>
        <td><a href="{{object.questionary.get_absolute_url}}">{{object.questionary}}</a></td>
    </tr>
{% endblock %}

{% block content %}
{{block.super}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Surveys' %}</h3>
  </div>
  <table class="table table-stripped">
  {% for survey in object.survey_set.all %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{survey}} - <a href="{{survey.user.get_absolute_url}}">{{survey.user}}</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Answers' %}</h3>
            </div>
            <table class="table table-stripped">
            {% for answer in survey.answer_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{answer}}<pre>{{answer.blob}}</pre></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
