{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title_prefix %}{% trans "Sign In" %} - {% endblock title_prefix %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="gray">
                    <h2>{% trans "Sign In using Social Media" %}</h2>
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                        for a account and sign in below.{% endblocktrans %}</p>
                    {% include 'account/_social.html' %}

                    {% include "socialaccount/snippets/login_extra.html" %}
                    <h2 class="login-or">{% trans '… or use user account' %}</h2>

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                        <a class="btn btn-default"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                        <p>{% blocktrans %}If you do not have a user account,
                            <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

