{% extends "account/base.html" %}

{% load i18n tinycontent_tags %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 gray">
                <h2>{% trans "Sign Up Closed" %}</h2>
                {% tinycontent 'account:signup_closed' %}
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                {% endtinycontent %}
            </div>
        </div>
    </div>
{% endblock %}
