---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    - id: black
      args:
        - --config
        - ./pyproject.toml
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args:
      - --config=./setup.cfg
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    - id: pyupgrade
      args:
      - --py310-plus
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.12.0
    hooks:
    - id: django-upgrade
      args: [--target-version, "3.2"]
