# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.
pylibmc==1.5.1
django-heroku-memcacheify==0.8
psycopg2==2.6.2
-r requirements/production.txt
