      VIRUSTOTAL_API_KEY: "your_api_key_here"
      ATTACHMENTSCANNER_API_KEY: "your_api_key_here"
      ATTACHMENTSCANNER_API_URL: "your_api_key_here"
      METADEFENDER_API_KEY: "your_api_key_here"
      