{% extends 'questionaries/base.html' %}
{% load i18n %}
{% block content %}
{% if object %}
<ol class="breadcrumb">
    <li><a href="{{object.monitoring.get_absolute_url}}">{{object.monitoring}}</a></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
    {% block breadcrumbs_row %}{% endblock %} 
</ol>
{% endif %}
{% if object %}
    {% include 'questionaries/_btn.html' %}
{% endif %}
<div class="page-header">
<h2><a href="{{object.get_absolute_url}}">{{object}}</a></h2>
</div>
<div class="gray">
      {% block content_object %}{% endblock %}
</div>
{% endblock %}
