{% extends 'questionaries/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        {% if object %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ object.monitoring }}</span>
                </a>
            </li>
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.get_absolute_url }}">
                    <span itemprop="name">{{ object }}</span>
                </a>
            </li>
        {% endif %}
        {% block breadcrumbs_row %}{% endblock %}
    </ol>
{% endblock %}

{% block content %}

    {% if object %}
        {% include 'questionaries/_btn.html' %}
        <div class="page-header">
            <h2>
                <i class="fa fa-list-alt"></i>
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            </h2>
        </div>

    {% endif %}


    <div class="gray">
        {% block content_object %}{% endblock %}
    </div>
{% endblock %}
