{% extends 'questionaries/base.html' %}
{% load crispy_forms_tags i18n %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        {% if object %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a href="{{ object.questionary.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ object.questionary.monitoring }}</span>
                </a>
            </li>
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a href="{{ object.questionary.get_absolute_url }}">
                    <span itemprop="name">{{ object.questionary }}</span>
                </a>
            </li>
        {% endif %}
        {% block breadcrumbs_row %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{ object }}</span>
            </li>
        {% endblock %}
    </ol>
{% endblock %}
{% block content %}

    {% if object %}
        <div class="page-header">
            <h2>
                <i class="fa fa-question" aria-hidden="true"></i>
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            </h2>
        </div>
    {% endif %}


    <div class="gray">
        {% block content_object %}{% endblock %}
    </div>
{% endblock %}
