{% extends 'questionaries/base.html' %}
{% load crispy_forms_tags i18n %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if object %}
    <li><a href="{{object.questionary.monitoring.get_absolute_url}}">{{object.questionary.monitoring}}</a></li>
    <li><a href="{{object.questionary.get_absolute_url}}">{{object.questionary}}</a></li>
    {% endif %}
    {% block breadcrumbs_row %}
    <li>{{object}}</li>
    {% endblock %} 
</ol>
{% endblock %}
{% block content %}

{% if object %}
<div class="page-header">
    <h2>
        <i class="fa fa-question" aria-hidden="true"></i>
        <a href="{{object.get_absolute_url}}">{{object}}</a>
    </h2>
</div>
{% endif %}


<div class="gray">
  {% block content_object %}{% endblock %}
</div>
{% endblock %}
