{% extends 'questionaries/base_questionary.html' %}
{% load i18n crispy_forms_tags humanize %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{object.monitoring.get_absolute_url}}">{{object.monitoring}}</a></li>
    <li class="active">{{object}}</li>
</ol>
  {% block buttons %}
    {% include 'questionaries/_btn.html' %}
  {% endblock %}
<div class="page-header">
<h2><i class="glyphicon glyphicon-list-alt"></i> {{object}} <small><time datetime="{{object.created|date:'PTDHMS'}}">{{object.created|naturaltime}}</time></small></h2>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="red">
        <h2>{% trans 'Tasks' %}</h2>
        {% include '_select_list.html' with object_list=object.task_set.all %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="gray">
        <h2>{% trans 'Form preview' %}</h2>
        {% if answer_forms %}
            {% for form in answer_forms %}
                <div class="well">
                {% crispy form %}
                <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'questionaries:question_up' pk=form.question.pk%}" class="btn btn-default"><i class="glyphicon glyphicon-hand-up"></i> {% trans 'Move up'%}</a>
                <p class="btn btn-default">{% trans 'Position' %}: {{form.question.position}}</p>
                <a href="{% url 'questionaries:question_down' pk=form.question.pk%}" class="btn btn-default"><i class="glyphicon glyphicon-hand-down"></i> {% trans 'Move down'%}</a>
                </div>
                </div>
            {% endfor %}
        {% else %}
            {% trans 'No rows.' %}
        {% endif %}
        </div>
    </div>

</div>
{% endblock %}
