{% extends 'alerts/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.monitoring.get_absolute_url }}">
                <span itemprop="name">{{ object.monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{% url 'alerts:list' monitoring=object.monitoring.pk %}">
                <span itemprop="name">{% trans 'Alerts index' %}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{{ object }}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'alerts/_btn.html' with object=object %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <div class="page-header">
            <h1>
                <i class="fa-solid fa-bolt"></i>
                {{ object }}
            </h1>
        </div>
    {% endif %}
    <div class="row">
        <div class="gray">
            {% block content_object %}{% endblock %}
        </div>
    </div>
{% endblock %}
