{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{{object.get_absolute_url }}">{{object.title}}</a></h3>
  </div>
  <div class="panel-body">
    {{object.body}}

    <blockquote>
      {{object.quote}}
    </blockquote>
    {% if object.attachment_set.all %}
    <div class="well attachment-list">
      <h2>{% trans 'attachments' %}</h2>
      <ul>
        {% for attachment in object.attachment_set.all %}
        <li>{{attachment.pk}}</li>
        {# <li><a href="{{attachment.get_absolute_url}}">{{attachment}}</a></li>#}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
