{% load i18n %}
{% load guardian_tags %}
{% get_obj_perms request.user for object.monitoring as "monitoring_perms" %}
{% if "change_case" in monitoring_perms or "delete_case" in monitoring_perms or "view_log" in monitoring_perms or "add_parcelpost" in monitoring_perms %}
    <div class="clearfix">
        <div class="pull-right btn-group">
            {% if "change_case" in monitoring_perms %}
                <a class="btn btn-default" href="{% url 'cases:update' slug=object.slug %}">
                    {% trans 'Edit' %}
                </a>
            {% endif %}
            {% if "delete_case" in monitoring_perms %}
                <a class="btn btn-warning" href="{% url 'cases:delete' slug=object.slug %}">
                    {% trans 'Delete' %}
                </a>
            {% endif %}
            {% if "view_log" in monitoring_perms %}
                <a class="btn btn-default" href="{% url 'logs:list' case_pk=object.pk %}">
                    <i class="fas fa-inbox" aria-hidden="true"></i>
                    {% trans 'View logs' %}
                </a>
            {% endif %}
            {% if 'add_parcelpost' in monitoring_perms %}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-square-envelope" aria-hidden="true"></i>
                    {% trans 'Add parcel post' %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'parcels:incoming-create' case_pk=object.pk %}">
                            {% trans 'Incoming parcel' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'parcels:outgoing-create' case_pk=object.pk %}">
                            {% trans 'Outgoing parcel' %}
                        </a>
                    </li>
                </ul>
            {% endif %}
            {% if 'add_letter' in monitoring_perms and not object.institution.archival %}
                <a class="btn btn-default" href="{% url 'letters:create' case_pk=object.pk %}">
                    <i class="fa-solid fa-square-envelope" aria-hidden="true"></i>
                    {% trans 'Add letter' %}
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
