{% load i18n humanize %}
<h2>
    <i class="fa fa-folder-open"></i>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
</h2>
<p>
    {% trans 'Creation date' %}
    <time datetime="{{ object.created }}" title="{{ object.created | naturaltime }}">{{ object.created }}</time>
</p>
<p>{% trans 'Institution' %}: <a href="{{ object.institution.get_absolute_url }}">{{ object.institution }}</a></p>
<p>{% trans 'Monitoring' %}: <a href="{{ object.monitoring.get_absolute_url }}">{{ object.monitoring }}</a></p>
