<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">
            <i class="fa fa-folder-open"></i> 
            <a href="{{object.get_absolute_url}}">{{object}}</a>
        </h5>
    </div>
    {% if object.task_set.all %}
    <table class="table">
        {% for task in object.task_set.all %}
        <tr>
            <td>
                <i class="fa fa-edit"></i> 
                <a href="{{task.get_absolute_url}}">{{task}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
