{% extends 'cases/base.html' %}
{% load i18n %}

{% block feed %}
    {% if object %}
        <link rel="alternate" type="application/rss+xml" title="RSS Feed of letters for {{ object }}"
              href="{% url 'letters:rss' case_pk=object.pk %}"/>
        <link rel="alternate" type="application/atom+xml" title="Atom Feed of letters for {{ object }}"
              href="{% url 'letters:atom' case_pk=object.pk %}"/>
    {% endif %}
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'cases/_btn.html' with object=object %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <div class="page-header">
            <h1>
                <i class="fa-solid fa-folder-open"></i>
                {{ object }}
            </h1>
        </div>
    {% endif %}
    <div class="row">
        {% if object %}
            {% include 'cases/_case_quarantined.html' with object=object %}
        {% endif %}
        <div class="gray">
            {% block content_object %}{% endblock %}
        </div>
    </div>
{% endblock %}
