{% extends 'monitorings/base.html' %}
{% load i18n %}
{% block content %}
<ol class="breadcrumb">
    {% for jst in object.institution.jst.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li><a href="{{object.institution.jst.get_absolute_url}}">{{object.institution.jst}}</a></li>
    <li><a href="{{object.institution.get_absolute_url}}">{{object.institution}}</a></li>
    <li class="active">{{object}}</li>
</ol>
{% block buttons %}
<div class="clearfix">
    <div class="pull-right btn-group">
        <a class="btn btn-default" href="{% url 'cases:update' slug=object.slug %}">{% trans 'Edit' %}</a>
        <a class="btn btn-warning" href="{% url 'cases:delete' slug=object.slug %}">{% trans 'Delete' %}</a>
    </div>
</div>
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="glyphicon glyphicon-folder-open"></i>  <a href="{{object.get_absolute_url}}">{{object}}</a></h3>
  </div>
  <div class="panel-body">
    {% block content_object %}{% endblock %}
  </div>
</div>
{% block letter_list %}{% endblock %}
{% endblock %}
