{%extends 'cases/base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Case index' %}</h1>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="red">
            {% crispy filter.form %}
        </div>
    </div>

    <div class="col-sm-9">
        {% if object_list %}
        {% for object in object_list %}
        <div class="gray">
            {% include 'cases/_case_small.html' with object=object %}
        </div>
        {% empty %}
        <div class="red">
            <p>
                {% trans 'No rows.' %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
