{% extends 'cases/base_object.html' %}
{% load crispy_forms_tags i18n %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        {% if monitoring %}
            <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ monitoring }}</span>
                </a>
            </li>
        {% elif object %}
            <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ object.monitoring }}</span>
                </a>
            </li>
        {% endif %}
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{% if headline %}{{ headline }}
                    {% elif object %}{% trans 'Update case' %}
                    {% else %}{% trans 'Add case' %}
                {% endif %}</span>
        </li>
    </ol>
{% endblock %}


{% block content_object %}
    {% crispy form %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
