{% extends 'monitorings/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{object.monitoring.get_absolute_url}}">{{object.monitoring}}</a></li>
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block buttons %}
{% include 'cases/_btn.html' with object=object %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        <i class="fa fa-folder-open"></i>
        {{object}}
    </h1>
</div>
<div class="row">'
    <div class="col-sm-5">
        <div class="gray">
            {% include 'cases/_desc.html' with object=object %}
        </div>
        <div class="red">
            <h2>
                <i class="fa fa-edit"></i>
                {% trans 'Tasks' %}
            </h2>
            {% include 'tasks/_task_select_list.html' with object_list=object.task_set.all %}
        </div>
    </div>

    <div class="col-sm-7">
        <h2>
            <i class="fa fa-envelope"></i>
            {% trans 'Letters' %}
        </h2>

        {% if letter_list %}
        {% include 'letters/_milestone_list.html' with object_list=letter_list %}
        {% else %}
        <div class="gray">
            {% trans 'No rows.' %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
