{% load i18n crispy_forms_tags %}
{# task_filter.html use own copy #}
<div class="page-header">
    <h1>{% trans title %}</h1>
</div>

<div class="row">
    <div class="col-sm-9 col-sm-push-3">
        {% for object in object_list %}
        <div class="gray">
            {% include object_template with object=object %}
        </div>
        {% empty %}
        <div class="gray">
            <p>
                {% trans 'No rows.' %}
            </p>
        </div>
        {% endfor %}
    </div>

    <div class="col-sm-3 col-sm-pull-9">
        <div class="red">
            {% crispy filter.form %}
        </div>
    </div>

</div>
