{% load i18n crispy_forms_tags easy_pagination_tags %}
{# task_filter.html use own copy #}
<div class="page-header">
    <h1>{% trans title %}</h1>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-push-4">
        {% for object in object_list %}
        <div class="gray">
            {% include object_template with object=object %}
        </div>
        {% empty %}
        <div class="gray">
            <p>
                {% trans 'No rows.' %}
            </p>
        </div>
        {% endfor %}

        {% paginator %}
    </div>

    <div class="col-sm-4 col-sm-pull-8">
        <div class="red">
            <form method="GET">
            {{ filter.form | crispy }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
                {% trans 'Filtr' %}
            </button>
            </form>
        </div>
    </div>

</div>
