{% load i18n crispy_forms_tags bootstrap_pagination %}
<div class="page-header">
    <h2>{% trans title %}</h2>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-push-4">
        {% for object in object_list %}
            <div class="gray">
                {% include object_template with object=object %}
            </div>
            {% empty %}
            <div class="gray">
                <p>
                    {% trans 'No rows.' %}
                </p>
            </div>
        {% endfor %}
        {% if pager == 'performant' %}
            {% bootstrap_pager page_obj %}
        {% else %}
            {% bootstrap_paginate page_obj %}
        {% endif %}
    </div>

    <div class="col-sm-4 col-sm-pull-8">
        <div class="red">
            <form method="GET">
                {{ filter.form | crispy }}
                {% block form_buttons %}
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                    {% trans 'Filter' %}
                </button>
                {% endblock %}
            </form>
        </div>
        {% if user.is_authenticated  %}
            <div class="gray" >
                {{ summary_table}} 
            </div>
        {% endif %}
    </div>
</div>
