{% load static i18n %}
<div class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div >
        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse"
                data-bs-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
            <span class="visually-hidden">{% trans 'Toggle navigation' %}</span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img alt="Fedrowanie" src="{% static 'images/logo-short.svg' %}" height="25px">
        </a>
        <h1 class="visually-hidden">{% trans 'Civil data mining' %}</h1>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% include '_sidebar.html' %}
            </ul>
        </div>
    </div>
</div>
