{% load static i18n github_revision_tags feder_tags tinycontent_tags %}
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% block title_prefix %}{% endblock %}{% trans 'Civil data mining' %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block meta %}{% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed of letters" href="{% url 'letters:rss' %}"/>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed of letters" href="{% url 'letters:atom' %}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed of monitorings" href="{% url 'monitorings:rss' %}"/>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed of monitorings" href="{% url 'monitorings:atom' %}"/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% block feed %}{% endblock %}
    {% block css %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}

</head>

<body>

{% show_donate_popup as show_donate_popup_flag %}
{% if show_donate_popup_flag %}
    {% include 'donate_popup.html' %}
{% endif %}

{% include '_navbar.html' %}

<!-- app_main_style tag used to differentiate dev, demo and production environments -->
{% app_main_style %}
{# <div class="main" style="background-color: #60e20040;"> #}



    <div class="sidebar">
        <div class="sidebar-header">
            {% app_mode %}
            <a href="{% url 'home' %}">
                <div class="logo">
                    <img alt="Fedrowanie" src="{% static 'images/logo-short.svg' %}" height="160px">
                </div>
                <p>Fedrowanie</p>
            </a>
            <p><a href="http://siecobywatelska.pl">Sieci Watchdog</a></p>
            {% tinycontent 'base:rodo_link' %}
            <p><a href="https://fedrowanie.siecobywatelska.pl/media/KLAUZULA_RODO-fedrowanie.pdf">Kaluzula RODO</a></p>
            {% endtinycontent %}
        </div>
        {% include '_sidebar.html' %}
    </div>
    <div class="main-side" style="margin-right: 15px;">
        <div class="content" style="margin-left: 15px;">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% if debug %}
                <h1 style="background-color: #0a6f0a; color: #fff; text-align: center;">DEBUG ENVIRONMENT</h1>
            {% endif %}

            {% block breadcrumbs %}{% endblock %}
            {% block buttons %}{% endblock %}
            {% block content %}
                <p>Use this document as a way to quick start any new project.</p>
            {% endblock content %}

            <div class="footer">
                <div class="footer-right">Sieć Obywatelska - Watchdog Polska<br>
                    ul. Szpitalna 5/5<br>
                    00-031 Warszawa<br>
                    {% tinycontent 'base:rodo_link' %}
                    <a href="https://fedrowanie.siecobywatelska.pl/media/KLAUZULA_RODO-fedrowanie.pdf">Kaluzula RODO</a>
                    {% endtinycontent %}
                </div>
                <div class="footer-left">
                    silnik: <a href="http://jawne.info.pl">jawne.info.pl</a> |
                    v{% feder_version %} |
                    <a href="https://github.com/watchdogpolska/feder"><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a> – {% github_link %} |
                    <a href="{% url 'api-root' %}"><i class="fa-solid fa-cloud-arrow-down" aria-hidden="true"></i> API</a>
                </div>
                <div class="footer-center">{% trans 'This site uses cookies.' %}</div>

            </div>

        </div>
    </div>
        

</div>


{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
    {% if debug %}
    <script src="https://cdn.rawgit.com/Khan/tota11y/ce0d19ed/build/tota11y.min.js"></script>
    {% endif %}
    <script>
        $(function () {
            var show_quote = '<i class="fa-solid fa-square-plus"></i> {%trans "Show quote" %}';
            var hide_quote = '<i class="fa-solid fa-square-minus"></i> {%trans "Hide quote" %}';
            var show_att_text = '<i class="fa-solid fa-square-plus"></i> {%trans "Show att text" %}';
            var hide_att_text = '<i class="fa-solid fa-square-minus"></i> {%trans "Hide att text" %}';
            $('blockquote.expandable').each(function (index, value) {
                var el = $(value).hide();
                var show = el.attr('name') === 'attachment_text' ? show_att_text : show_quote;
                var hide = el.attr('name') === 'attachment_text' ? hide_att_text : hide_quote;
                var new_el = $("<button class='btn btn-primary'>" + show + "</a>");
                new_el.click(function (event) {
                    event.preventDefault();
                    el.slideToggle();
                    console.log(this.innerHTML);
                    this.innerHTML = this.innerHTML == show ? hide : show;
                });
                el.before(new_el);
            });
        });
    </script>
    {% if show_donate_popup_flag %}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="{% static 'js/donate_popup.js' %}"></script>
    {% endif %}
    {{ filter.form.media }}
{% endblock javascript %}
</body>
</html>

