{% extends 'monitorings/monitoring_single.html' %}
{% load i18n humanize %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
                <span itemprop="name">{{ monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{% trans 'Logs' %}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% include 'monitorings/_btn.html' with object=monitoring %}
{% endblock %}
{% block content %}
    {% include 'monitorings/_header.html' with object=monitoring %}
    {% include 'logs/_list.html' with object_list=object_list %}
{% endblock %}
