{% extends 'monitorings/monitoring_single.html' %}
{% load i18n humanize guardian_tags %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
                <span itemprop="name">{{ monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{% trans 'Logs' %}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% include 'monitorings/_btn.html' with object=monitoring %}
{% endblock %}
{% block content %}
    {% get_obj_perms request.user for monitoring as "monitoring_perms" %}
    {% include 'monitorings/_header.html' with object=monitoring %}

    {% if "view_log" in monitoring_perms %}
        <div class="sub-menu">
            <a class="btn btn-primary" href="{% url 'logs:export' monitoring_pk=monitoring.pk %}">
                <i class="fas fa-download" aria-hidden></i> {% trans 'Download .csv' %}</a>
        </div>
    {% endif %}

    {% include 'logs/_list.html' with object_list=object_list %}
{% endblock %}
