{% extends 'monitorings/monitoring_single.html' %}
{% load i18n humanize %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.monitoring.get_absolute_url }}">
                <span itemprop="name">{{ object.case.monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.get_absolute_url }}">
                <span itemprop="name">{{ object.case }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{{ object }}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% include 'cases/_btn.html' with object=object.case %}
{% endblock %}
{% block content %}
    <h2>
        <i class="fa-solid fa-inbox" aria-hidden="true"></i>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        <small>
            <time datetime="{{ object.created }}" title="{{ object.created | naturaltime }}">{{ object.created }}</time>
        </small>
    </h2>
    {% for object in object.logrecord_set.all %}
        <div class="row gray">
            <h3>{{ object.created }}</h3>
            <pre>{{ object.pretty_json }}</pre>
        </div>
    {% endfor %}
{% endblock %}
