{% load i18n humanize %}
<div class="gray">
    <h3>
        <i class="fas fa-envelope"></i>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        <small>
            {% trans 'by' %}
            <i class="fa {% if object.author_institution %}fa-home{% elif object.author_user %}fa-user{% else %}fa-envelope{% endif %}"></i>
            <a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a>
            {% if object.case %}
                {% trans 'in case of ' %}
                <i class="fas fa-folder-open"></i>
                <a href="{{ object.case.get_absolute_url }}">{{ object.case }}</a>
            {% endif %}
            <time datetime="{{ object.created }}" title="{{ object.created | naturaltime }}">{{ object.created }}</time>
        </small>
        {% if object.ai_evaluation %}
            <br>
            <small>
                <i class="fa-solid fa-circle-question" data-toggle="tooltip" data-placement="bottom"
                    title="{{ object.ai_prompt_help }}">
                </i> {% trans 'LLM evaluation: ' %}
                {{ object.ai_evaluation|linebreaksbr }}
            </small>
        {% endif %}
        
    </h3>

    {% if object.is_mass_draft %}
        <h5><b>{% trans "Recipient's tags" %}</b></h5>
        <ul>
            {% for tag in object.mass_draft.recipients_tags.all %}
                <li>{{ tag.name }} - {{ tag.get_cases_count }} {% trans "recipients" %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="letter-body " style="max-height: 20em; overflow: auto;">
        {% if object.html_body %}
            <iframe srcdoc="{{ object.html_body|escape }}"
                    sandbox="allow-top-navigation"
                    style="border: 1px solid gray;">
            </iframe>
        {% else %}
            {{ object.body|linebreaks }}
        {% endif %}           
    </div>
 
    
    {% if object.quote or object.html_quote %}
        <blockquote class="expandable">
            {% if object.html_quote %}
                <iframe srcdoc="{{ object.html_quote|escape }}"
                        class="letter-quote"
                        sandbox="allow-top-navigation">
                </iframe>
            {% else %}
                {{ object.quote|linebreaks }}
            {% endif %}
        </blockquote>
    {% endif %}

    {% if object.note %}
        <div class="alert alert-warning mt-1">{{ object.note }}</div>
    {% endif %}
    {% if object.attachment_count %}
        <span class="badge pull-right">
            <i class="fas fa-download"></i>
            {{ object.attachment_count }}
        </span>
    {% endif %}
</div>
