{% load i18n humanize %}
<h2>
    <i class="fa-solid fa-magnifying-glass"></i>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
</h2>

<p>
    {% trans 'User' %}:
    <a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>
</p>
<p>
    {% trans 'Creation date' %}
    <time datetime="{{ object.created }}" title="{{ object.created | naturaltime }}">{{ object.created }}</time>
</p>
<p>
    {% trans 'Case count' %}:
    <time datetime="{{ object.created|date:'PTDHMS'}}">
        {{ object.case_count }}
    </time>
</p>
