{% load i18n %}
<div class="monitoring-report-content">
    <h3 >{% trans 'Report' %}</h3>

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="centered centered_cell">
                    <label for="multi-case-tag-select-all">
                        <input type="checkbox"
                               id="multi-case-tag-select-all"
                               name="select-all-cases"
                               title="{% trans 'select or unselect all' %}">
                    </label>
                </th>
                <th>{% trans 'institution' %}</th>
                <th>{% trans 'administrative unit' %}</th>
                <th class="centered centered_cell">
                    {% trans 'tags' %}
                </th>
                <th class="table__col_narrow centered centered_cell">
                    {% trans 'first request sending date' %}
                </th>
                <th class="table__col_narrow centered centered_cell">
                    {% trans 'first request status' %}
                </th>
                <th class="table__col_narrow centered centered_cell">
                    {% trans 'last request sending date' %}
                </th>
                <th class="table__col_narrow centered centered_cell">
                    {% trans 'last request status' %}
                </th>
                <th class="table__col_narrow centered centered_cell">
                    {% trans 'request confirmed' %}
                </th>
                <th class="table__col_narrow centered centered_cell">
                    {% trans 'response received' %}
                </th>
            </tr>
        </thead>

        <tbody>
            {% for case in object_list %}
            <tr>
                <td class="table__col_checkbox centered centered_cell">
                    {% if not case.institution.archival %}
                    <label for="select-case-{{ case.id }}">
                        <span class="visually-hidden">{% trans "case" %} {{ case.slug }}</span>
                        <input type="checkbox"
                               id="select-case-{{ case.id }}"
                               name="select-case-{{ case.id }}"
                               value="{{ case.id }}"
                               class="select-case-input">
                    </label>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'cases:details' slug=case.slug %}">
                      {{ case.institution }}
                    </a><br>
                    {% if not case.institution.archival %}
                        {{ case.institution.email }}
                    {% endif %}
                    <br>
                    {% if case.institution.regon %}
                      REGON: {{ case.institution.regon }}
                    {% endif %}
                </td>
                <td>
                    {{ case.institution.voivodeship|default:'' }}<br>
                    {{ case.institution.county|default:'' }}<br>
                    {{ case.institution.community|default:'' }}
                </td>
                <td>
                    {{ case.tags_string }}
                </td>
                <td class="centered centered_cell">{{ case.first_request.created|date }}</td>
                <td class="centered centered_cell">{{ case.first_request.emaillog.status_verbose }}</td>
                <td class="centered centered_cell">{{ case.last_request.created|date }}</td>
                <td class="centered centered_cell">{{ case.last_request.emaillog.status_verbose }}</td>
                <td class="centered centered_cell">
                    {% if case.confirmation_received %}
                        <i class="fa-solid fa-circle-check fa-lg color-success"
                           title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-xmark fa-lg color-danger"
                           title="{% trans 'no' %}"></i>
                    {% endif %}
                </td>
                <td class="centered centered_cell">
                    {% if case.response_received %}
                        <i class="fa-solid fa-circle-check fa-lg color-success"
                           title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-xmark fa-lg color-danger"
                           title="{% trans 'no' %}"></i>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">{% trans 'No rows.' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="text-center">
        {% include 'main/_pagination.html' with page_obj=page_obj %}
    </div>
</div>
