{% load i18n bootstrap_pagination %}
<div class="monitoring-report-content">
    <h3 class="sr-only">{% trans 'Report' %}</h3>

    <table class="table">
        <thead>
            <tr>
                <th>instytucja</th>
                <th>Jedn. teryt.</th>
                <th>data wysłania wniosku</th>
                <th>status wniosku</th>
                <th>potwierdzenie dostarczenia</th>
                <th>jest odpowiedź</th>
            </tr>
        </thead>

        <tbody>
            {% for case in object_list %}
            <tr>
                <td>
                    <a href="{% url 'cases:details' slug=case.slug %}">
                      {{ case.institution.name }}
                    </a><br>
                    {{ case.institution.email }}
                </td>
                <td>
                    {{ case.institution.voivodeship }}<br>
                    {{ case.institution.county }}<br>
                    {{ case.institution.community }}
                </td>
                {% with case.application_letter as application_letter %}
                <td>{{ application_letter.created|date }}</td>
                <td>
                    {% if application_letter %}
                        {{ application_letter.status_str }}
                    {% else %}
                        {% trans "unknown" %}
                    {% endif %}
                </td>
                <td>
                    {% if case.response_received %}
                        <i class="fa fa-check-circle fa-lg color-success"
                           title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa fa-times-circle fa-lg color-danger"
                           title="{% trans 'no' %}"></i>
                    {% endif %}
                </td>
                <td>
                    {% if case.confirmation_received %}
                        <i class="fa fa-check-circle fa-lg color-success"
                           title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa fa-times-circle fa-lg color-danger"
                           title="{% trans 'no' %}"></i>
                    {% endif %}
                </td>
                {% endwith %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">{% trans 'No rows.' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% bootstrap_paginate object_list url_view_name='monitorings:report' url_extra_kwargs=url_extra_kwargs %}
    </div>
</div>
