{% load i18n guardian_tags %}
{% get_obj_perms request.user for object as "monitoring_perms" %}
    <ul class="nav nav-tabs" role="nav">
        <li {% if tab == 'general' %} class="active"{% endif %}><a
            {% if tab != 'general' %}
                href="{% url 'monitorings:details' slug=object.slug %}"
            {% endif %}
        >{% trans 'Institutions and cases' %}</a></li>
        <li{% if tab == 'letters' %} class="active"{% endif %}><a
            {% if tab != 'letters' %}
                href="{% url 'monitorings:letters' slug=object.slug %}"
            {% endif %}
        >{% trans 'Letters' %}</a></li>
        {% if 'reply' in monitoring_perms or 'add_draft' in monitoring_perms %}
        <li{% if tab == 'drafts' %} class="active"{% endif %}><a
            {% if tab != 'drafts' %}
                href="{% url 'monitorings:drafts' slug=object.slug %}"
            {% endif %}
        >{% trans 'Drafts' %}</a></li>
        {% endif %}
        <li{% if tab == 'template' %} class="active"{% endif %}><a
            {% if tab != 'template' %}
                href="{% url 'monitorings:template' slug=object.slug %}"
            {% endif %}
        >{% trans 'Template' %}</a></li>
        <li{% if tab == 'results' %} class="active"{% endif %}><a
        {% if tab != 'results' %}
            href="{% url 'monitorings:results' slug=object.slug %}"
        {% endif %}
        >{% trans 'Results' %}</a></li>
        {% if user.is_superuser and object.use_llm and object.normalized_response_template %}
            <li{% if tab == 'answers_categories' %} class="active"{% endif %}><a
            {% if tab != 'answers_categories' %}
                href="{% url 'monitorings:answers-categories' slug=object.slug %}"
            {% endif %}
            >{% trans 'Answers categories' %}</a></li>
        {% endif %}
    </ul>
