{% extends 'monitorings/monitoring_single.html' %}
{% load i18n humanize %}
{% block title_prefix %}{% trans 'Monitorings' %} - {{ object }} - {% endblock title_prefix %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{{ object }}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'monitorings/_btn.html' with object=object %}
    {% endif %}
{% endblock %}
{% block content %}
    {%  include 'monitorings/_header.html' %}
    <div class="row">
        <div class="col-md-4">
            {% if object.description %}
                <div class="red">
                    <h3>{% trans 'Description' %}</h3>
                    {{ object.description|linebreaks }}
                </div>
            {% endif %}
            {% if voivodeship_table %}
                <div class="gray">
                    {{ voivodeship_table }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            {% block content_object %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
