{% extends 'monitorings/base.html' %}
{% load crispy_forms_tags i18n bootstrap_pagination %}

{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
                <span itemprop="name">{{ monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{% trans 'Assign institutions' %}</span>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Assign institutions' %}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
                <form method="POST">
                    {% if is_filtered %}
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                        {% blocktrans with monitoring=monitoring %}Assign selected institutions to "{{ monitoring }}" and
                            send request{% endblocktrans %}
                    </button>
                    {{ select_all_checkbox }}
                    {% else %}
                    <button class="btn btn-primary" disabled>
                        {% trans "Apply a filter to assign and send letters to institutions." %}
                    </button>
                    {% endif %}
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width: 80%;">{% trans 'Name, selected' %}: <span name="selected_count">0</span></th>
                            <th>{% trans 'Region' %}</th>
                        </tr>
                        </thead>

                    </table>
                    <div style="height: 650px; overflow-y: auto; margin-top: -20px;">
                        <table class="table table-striped" >
                            <tbody>
                            {% for object in object_list %}
                                <tr class="table table-striped">
                                    <td><input type="checkbox" name="to_assign" value="{{ object.pk }}"></td>
                                    <td style="width: 80%;"><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                                    <td><a href="{{ object.jst.get_absolute_url }}"
                                        title="TERYT: {{ object.jst.pk }}">{{ object.jst }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>                        
                        </table>
                    </div>

                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                </form>

                <!-- paginator disabled in view -->
                {# {% bootstrap_paginate page_obj %} #} 

        </div>

        <div class="col-sm-4 col-sm-pull-8">
            <div class="red">
                <form method="GET">
                    {{ filter.form | crispy }}
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                        {% trans 'Filtr' %}
                    </button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ filter.form.media }}
{% endblock %}
