{% extends 'monitorings/base.html' %}
{% load crispy_forms_tags i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{monitoring.get_absolute_url}}">{{monitoring}}</a></li>
    <li class="active">{% trans 'Assign institutions' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans 'Assign institutions' %}</h1>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-push-4">
    {% if object_list %}
    <form method="POST">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
          {% blocktrans with monitoring=monitoring %}Assign selected institutions to {{monitoring}} and send request{%endblocktrans %}
        </button>
        <table  class="table table-striped">
          <thead>
            <tr>
              <th style="width: 20px;">&nbsp;</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Region' %}</th>
            </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
            <tr class="table table-striped">
                <td><input type="checkbox" name="to_assign" value="{{object.pk}}"></td>
                <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
                <td><a href="{{object.jst.get_absolute_url}}" title="TERYT: {{object.jst.pk}}">{{object.jst}}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
          {% blocktrans with monitoring=monitoring %}Assign selected institutions to {{monitoring}} and send request{%endblocktrans %}
        </button>
    </form>
    {% endif %}
    </div>

    <div class="col-sm-4 col-sm-pull-8">
        <div class="red">
            <form method="GET">
                {{ filter.form | crispy }}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    {% trans 'Filtr' %}
                </button>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
{{block.super}}
{{filter.form.media}}
{% endblock %}
