{% extends 'monitorings/base.html' %}
{% load i18n %}

{% block feed %}
    {% if object %}
        <link rel="alternate" type="application/rss+xml" title="RSS Feed of letters for {{ object }}"
              href="{% url 'letters:rss' monitoring_pk=object.pk %}"/>
        <link rel="alternate" type="application/atom+xml" title="Atom Feed of letters for {{ object }}"
              href="{% url 'letters:atom' monitoring_pk=object.pk %}"/>
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        {% if object %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.get_absolute_url }}">
                    <span itemprop="name">{{ object }}</span>
                </a>
            </li>
        {% endif %}
        {% block breadcrumbs_row %}{% endblock %}
    </ol>
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'monitorings/_btn.html' with object=object %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>
            <i class="fa-solid fa-magnifying-glass"></i>
            {% if object %}
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            {% else %}
                {% trans 'Add monitoring' %}
            {% endif %}
        </h2>
    </div>

    <div class="gray">
        {% block content_object %}{% endblock %}
    </div>
{% endblock %}
