{% extends 'monitorings/base_monitoring_detail.html' %}
{% load i18n humanize guardian_tags %}
{% block content_object %}
    {% get_obj_perms request.user for object as "monitoring_perms" %}
    <ul class="nav nav-tabs" role="nav">
        <li><a href="{% url 'monitorings:details' slug=object.slug %}">{% trans 'Institutions, cases and tasks' %}</a>
        </li>
        <li class="active"><a>{% trans 'Letters' %}</a></li>
    {% if 'reply' in monitoring_perms or 'add_draft' in monitoring_perms %}
        <li><a href="{% url 'monitorings:drafts' slug=object.slug %}">{% trans 'Drafts' %}</a></li>
    {% endif %}
    </ul>
    <h3 class="sr-only">{% trans 'Letters' %}</h3>
    {% if object_list %}
        {% for object in object_list %}
            {% include 'monitorings/_letter.html' %}
        {% endfor %}
        {% if object_list.has_previous or object_list.has_next %}
            <ul class="pager">
                {% if object_list.has_previous %}
                    <li>
                        <a href="{% url 'monitorings:letters' slug=object.slug page=object_list.previous_page_number %}">
                            &laquo; {% trans 'previous' %}
                        </a>
                    </li>
                {% endif %}
                <li>{% blocktrans with no=object_list.number total=object_list.paginator.num_pages %}Page {{ no }} of
                    {{ total }}{% endblocktrans %}</li>
                {% if object_list.has_next %}
                    <li>
                        <a href="{% url 'monitorings:letters' slug=object.slug page=object_list.next_page_number %}">
                            {% trans 'next' %} &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <div class="gray">
            <p>
                {% trans 'No rows.' %}
            </p>
        </div>
    {% endif %}

{% endblock %}
