{% extends 'monitorings/base_monitoring_detail.html' %}
{% load i18n humanize bootstrap_pagination%}
{% block content_object %}
    {% include 'monitorings/_tabs.html' with tab='template' %}
    <style>
        .content-frame {
            border: 1px solid darkgray; /* Black border */
            background-color: white; /* White background */
            padding: 10px; /* Optional: Add padding for content inside the div */
        }
    </style>
    <h3 class="sr-only">{% trans "Template" %}</h3>
    <div class="gray">
        <h5><b>{% trans "Email subject"  %}</b></h5>
        <div class="content-frame">
                {{object.subject}}
        </div>
        <br>
        <h5><b>{% trans "Template"  %}</b></h5>
        <div class="content-frame">
            {{template}}
        </div>
        <br>
        <h5><b>{% trans "Email footer"  %}</b></h5>
        <div class="content-frame">
            {{email_footer}}
        </div>
    </div>

    {% if user.is_superuser %}
    <div class="gray">
        <div class="row" style="display: flex; align-items: flex-end;">
            <div class="col-md-6">
                <h5><b>{% trans "Normalized response template"  %}</b></h5>
            </div>
            <div class="col-md-6">
                {% trans "Created: " %}
                {{object.normalized_response_template_created|date:"Y-m-d H:i:s"}}
            </div>
        </div>                
        <div class="content-frame">
            {{object.get_normalized_response_html_table}}
        </div>
        {% if object.use_llm %}
            <form class="form" method="post">
                {%csrf_token%}
                <div class="input-group">
                    <input type="hidden" id="update_normalized_response_template" 
                        name="update_normalized_response_template" value="true">
                    <div class="input-group-append">
                        <button type="submit" id="update_normalized_response_template"
                            class="btn btn-primary">
                            {% trans 'Update monitoring normalized response template' %}
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    {% endif %}

    {% if user.is_superuser %}
    {% if object.use_llm %}
        <div class="gray">
            <div class="row" style="display: flex; align-items: flex-end;">
                <div class="col-md-6">
                    <h5><b>{% trans "Letter normalization prompt extension:"  %}</b></h5>
                </div>
                <div class="col-md-6">
                    {% trans "Updated: " %}
                    {{object.letter_normalization_prompt_extension_modified|date:"Y-m-d H:i:s"}}
                </div>
            </div>

            <form class="message-form" method="post" style="width: 100%;">
                {%csrf_token%}
                <div class="input-group"  style="width: 100%;">
                    <textarea  id="letter_normalization_prompt_extension_{{object.pk}}" type="text"
                        style="width: 100%;"
                        name="letter_normalization_prompt_extension" class="form-control message-input" 
                        placeholder="{% trans 'Type your letter normalization prompt extension' %}..."
                        >{{object.letter_normalization_prompt_extension|default_if_none:""}}</textarea>
                    <div class="input-group-append">
                        <button type="submit" id="object.pk"
                            class="btn btn-primary btn-send">
                            {% trans 'Update letter normalization prompt extension' %}</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    
    <div class="gray">
        <h5><b>{% trans "Letter normalization prompt"  %}</b></h5>
        <div class="content-frame">
            {{object.get_letter_normalization_prompt_sample|linebreaksbr}}
        </div>
        {% if object.use_llm %}
            <form class="form" method="post">
                {%csrf_token%}
                <div class="input-group">
                    <input type="hidden" id="normalize_monitoring_responses" 
                        name="normalize_monitoring_responses" value="true">
                    <div class="input-group-append">
                        <button type="submit" id="normalize_monitoring_responses"
                            class="btn btn-primary">
                            {% trans 'Generate monitoring responses normalization tasks for cases' %}
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
