{% extends 'monitorings/base_monitoring_detail.html' %}
{% load i18n humanize bootstrap_pagination %}
{% block content_object %}
    {% include 'monitorings/_tabs.html' with tab='general' %}
    <h3 class="sr-only">{% trans 'Institutions and cases' %}</h3>
    {% if object_list %}
        {% for case in object_list %}
            <div class="gray">
                <h4>
                    <i class="fa-solid fa-folder-open"></i>
                    <a href="{{ case.get_absolute_url }}">{{ case.institution }}</a>
                    &nbsp;&nbsp;&nbsp;
                    {% trans 'Last request status' %}: 
                    {% if case.last_request.emaillog %}
                        {{ case.last_request.emaillog.status_verbose }}
                    {% elif case.first_request.emaillog %}
                        {{ case.first_request.emaillog.status_verbose }}
                    {% else %}
                        {% trans 'unknown' %}
                    {% endif %}
                </h4>

                {% if case.record_set.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% trans 'Contents' %}
                        </div>
                        <table class="table">
                            {% for record in case.record_set.all %}
                                {% if record.content_object %}
                                    {% include record.content_template with object=record.content_object %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
        <div class="text-center">
            {% bootstrap_paginate object_list url_view_name='monitorings:details' url_extra_kwargs=url_extra_kwargs %}
        </div>
    {% elif monitoring_all_cases_count == 0 %}
        <div class="gray">
            <p>{% trans 'No cases defined.' %}</p>
        </div>
    {% else %}
        <div class="gray">
            <p>{% trans 'No cases available to user: ' %} {{ user }}</p>
            <p>{% trans 'Contact application admin to get relevant permission.' %}</p>
        </div>
    {% endif %}

{% endblock %}
