{% extends 'monitorings/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  {% if object %}<li><a href="{{object.get_absolute_url}}">{{object}}</a></li>{% endif %}
  {% block breadcrumbs_row %}{% endblock %} 
</ol>
{% endblock %}

{% block buttons %}
{% if object %}
{% include 'monitorings/_btn.html' with object=object %}
{% endif %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2>
        <i class="fa fa-search"></i>
        {% if object %}
            <a href="{{object.get_absolute_url}}">{{object}}</a>
        {% else %}
            {% trans 'Add monitoring' %}
        {% endif %}
    </h2>
</div>

<div class="gray">
    {% block content_object %}{% endblock %}
</div>
{% endblock %}
