{% extends 'monitorings/monitoring_single.html' %}
{% load static i18n humanize guardian_tags crispy_forms_tags %}

{% block javascript %}
    {{ block.super }}
    <script>
        var monitoringCaseTagsUpdateUrl = "{% url 'monitoring-case-tags-update' monitoring.id %}",
            csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/monitorings/multi_case_tag_form.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
                <span itemprop="name">{{ monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{% trans 'Report' %}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% include 'monitorings/_btn.html' with object=monitoring %}
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for monitoring as "monitoring_perms" %}
    {% include 'monitorings/_header.html' with object=monitoring %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="block block_gray">
                <h2 class="block__title">{% trans "Filters" %}</h2>
                <form method="GET">
                    {{ filter.form | crispy }}
                    {% block form_buttons %}
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                            {% trans 'Filter' %}
                        </button>
                        <a class="btn btn-primary" href="{{ csv_url }}">
                            <i class="fa-solid fa-download" aria-hidden></i> {% trans 'Download .csv' %}
                        </a>
                        <a class="btn btn-primary" href="{{ xlsx_url }}">
                            <i class="fa-solid fa-download" aria-hidden></i> {% trans 'Download .xlsx' %}
                        </a>
                    {% endblock %}
                </form>
            </div>

            <div class="block block_gray">
                <h2 class="block__title">{% trans "Tag assignment" %}</h2>

                <p class="pb-1">{% trans "Select tags to add or remove, select cases from the list below and then confirm by clicking selected action button." %}</p>

                <div id="multi-case-tags" class="form-group">
                    <div class="controls">
                        {% for tag in tags %}
                            <div class="checkbox">
                                <label for="multi-case-tag-{{ tag.id }}">
                                    <input type="checkbox"
                                        id="multi-case-tag-{{ tag.id }}"
                                        name="multi-case-tag-{{ tag.id }}"
                                        value="{{ tag.id }}">
                                    {{ tag.name }} ({{ tag.cases_count }})
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <button type="button" id="multi-case-tag-assign-btn" class="btn btn-primary">
                    <i class="fa-solid fa-tag"></i> {% trans "Add" %}
                </button>
                <button type="button" id="multi-case-tag-remove-btn" class="btn btn-primary">
                    <i class="fa-solid fa-eraser"></i> {% trans "Remove" %}
                </button>
            </div>

        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            {% include 'monitorings/_report_content.html' %}
        </div>
    </div>

{% endblock %}




