{% extends 'monitorings/base.html' %}
{% load i18n crispy_forms_tags humanize %}
{% block buttons %}
<div class="clearfix">
    <div class="pull-right btn-group">
        <a class="btn btn-default" href="{% url 'monitorings:create' %}">{% trans 'Create monitoring' %}</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Monitorings index' %}</h1>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="red">
            {% crispy filter.form %}
        </div>
    </div>

    <div class="col-sm-9">
        {% if object_list %}
        {% for object in object_list %}
        {% include 'monitorings/_monitoring_small.html' with object=object %}
        {% endfor %}
        {% else %}
        <div class="red">
            <p>
                {% trans 'No rows.' %}
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
