{% extends 'monitorings/monitoring_single.html' %}
{% load i18n humanize guardian_tags crispy_forms_tags %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
                <span itemprop="name">{{ monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{% trans 'Report' %}</span>
        </li>
    </ol>
{% endblock %}

{% block buttons %}
    {% include 'monitorings/_btn.html' with object=monitoring %}
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for monitoring as "monitoring_perms" %}
    {% include 'monitorings/_header.html' with object=monitoring %}
    <div class="block block_gray">
        <h2 class="block__title">{% trans "Filters" %}</h2>
        <form method="GET">
            {{ filter.form | crispy }}
            {% block form_buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    {% trans 'Filter' %}
                </button>
                <a class="btn btn-primary" href="{{ csv_url }}">
                    <i class="fa fa-download" aria-hidden></i> {% trans 'Download .csv' %}
                </a>
            {% endblock %}
        </form>
    </div>

    <form method="POST">
        <div class="block block_gray">
            <h2 class="block__title">{% trans "Tag assignment" %}</h2>

        </div>

        {% include 'monitorings/_report_content.html' %}
    </form>
{% endblock %}




