{% extends 'monitorings/monitoring_single.html' %}
{% load i18n crispy_forms_tags %}
{% block content_object %}
<p>{% blocktrans with step=wizard.steps.step1 count=wizard.steps.count %}Step {{ step }} of {{ count }}{% endblocktrans %}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% crispy form %}
    {% endfor %}
{% else %}
    {% crispy wizard.form %}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans "submit" %}"/>
</form>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% for form in wizard.form.forms %}
    {{ form.media }}
{% endfor %}
{{ wizard.form.media }}
{% endblock %}
