<li>
    <i class="milestone-default fas fa-user"></i>
    <div class="gray">
        {% load i18n humanize %}
        <h3>
            <i class="fa-solid fa-square-envelope"></i>
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            <small>
                {% trans 'by' %} <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by }}</a>
                <time datetime="{{ object.post_date }}"
                      title="{{ object.post_date }}">{% trans 'posted' %} {{ object.post_date }}</time>
            </small>
        </h3>
        <p>
            {% trans 'Recipient' %}: <i class="fas fa-house" aria-hidden="false"></i>
            <a href="{{ object.recipient.get_absolute_url }}">{{ object.recipient }}</a>
        </p>
        <p>{% trans 'Content' %}:
            <i class="fas fa-download" aria-hidden="false"></i>
            <a href="{{ object.get_download_url }}">{% trans 'Download' %}</a>
        </p>
    </div>
</li>
