{% extends 'parcels/parcelpost_detail.html' %}
{% load i18n %}
{% block custom_content_object %}

    <tr>
        <td class="col-md-3 col-xs-6 col-sm-5 metadata_desc">
            <i class="fas fa-house" aria-hidden="false"></i>
            {% trans 'Sender' %}
        </td>
        <td class="col-md-9 col-xs-6 col-sm-7 metadata_value">
            <a href="{{ object.sender.get_absolute_url }}">
                {{ object.sender }}
            </a>
        </td>
    </tr>
    <tr>
        <td class="metadata_desc"><i class="far fa-calendar" aria-hidden="false">
            </i> {% trans 'Receive date' %}</td>
        <td class="metadata_value">{{ object.receive_date }}</td>
    </tr>
{% endblock %}
