{% extends 'institutions/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        {% if object %}
            {% with obj_jst=object.jst %}
                {% include "institutions/_jst_breadcrumbs.html" %}
            {% endwith %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.get_absolute_url }}">
                    <span itemprop="name">{{ object }}</span>
                </a>
            </li>
        {% endif %}
        {% block breadcrumb_row %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
                class="active">
                <span itemprop="name">{% if headline %}{{ headline }}
                    {% elif object %}{% trans 'Edit' %}
                    {% else %}{% trans 'Add institution' %}
                {% endif %}</span>
            </li>
        {% endblock %}
    </ol>
{% endblock %}

{% block content %}

    {% if object %}
        {% include 'institutions/_btn.html' with object=object %}
        <div class="page-header">
            <h2><i class="fas fa-house"></i> <a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>
        </div>

    {% endif %}


    <div class="gray">
        {% block content_object %}{% endblock %}
    </div>
{% endblock %}
