{% extends 'monitorings/base.html' %}
{% load i18n %}
{% block content %}
<ol class="breadcrumb">
    {% for jst in object.jst.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li><a href="{{object.jst.get_absolute_url}}">{{object.jst}}</a></li>
    <li class="active">{{object}}</li>

</ol>
{% block buttons %}
{% if object %}
<div class="clearfix">
  <div class="pull-right btn-group">
    <a class="btn btn-default" href="{% url 'institutions:update' slug=object.slug %}">{% trans 'Edit' %}</a>
    <a class="btn btn-warning" href="{% url 'institutions:delete' slug=object.slug %}">{% trans 'Delete' %}</a>
</div>
</div>
{% endif %}
{% endblock %}

<div class="page-header">
<h2><i class="glyphicon glyphicon-home"></i>{{object}}</h2>
</div>
<div class="row red">
    <p>{% trans "E-mail"%}: {{object.address}}</p>
    <p>{% trans "Tags"%}: {% for tag in object.tags.all %}<a href="{{tag.get_absolute_url}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
</div>
<div class="row gray">
<h3>{% trans 'Cases and tasks' %}</h3>
    {% for case in case_list %}
        {% ifchanged %}<h2><i class="glyphicon glyphicon-search"></i> <a href="{{case.monitoring.get_absolute_url}}">{{case.monitoring}}</a></h2>{% endifchanged %}
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-folder-open"></i> 
           <a href="{{case.get_absolute_url}}">{{case}}</a></h3>
          </div>
          {% if case.task_set.all %}
              <table class="table">
              {% for task in case.task_set.all %}
                  <tr><td><i class="glyphicon glyphicon-edit"></i> <a href="{{task.get_absolute_url}}">{{task}}</a></td></tr>
              {% endfor %}
              </table>
          {% endif %}
        </div>
    {% endfor %}
    
    {% if case_list.has_previous or case_list.has_next %}
    <ul class="pager">
        {% if case_list.has_previous %}
            <li><a href="{% url 'institutions:details' slug=object.slug page=case_list.previous_page_number %}">&laquo; {% trans 'previous' %}</a></li>
        {% endif %}

        <li>{% blocktrans with no=case_list.number total=case_list.paginator.num_pages %}Page {{ no }} of {{ total }}{% endblocktrans %}</li>

        {% if case_list.has_next %}
            <li><a href="{% url 'institutions:details' slug=object.slug page=case_list.next_page_number %}">{% trans 'next' %} &raquo; </a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock %}


{% comment %}
<div class="col-md-4 case-list">
    <div class="well">
        <h2>{% trans 'Cases' %}</h2>
        {% if object.case_set.all %}
        <ul>
            {% for case in object.case_set.all %}
            <li><a href="{{case.get_absolute_url}}">{{case}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        {% trans 'No rows.' %}
        {% endif %}
    </div>
</div>

<div class="col-md-4 monitoring-list">
    <div class="well">
    <h2>{% trans 'Monitoring' %}</h2>
    {% if monitoring_list %}
    <ul>
        {% for monitoring in monitoring_list %}
        <li><a href="{{monitoring.get_absolute_url}}">{{monitoring}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    {% trans 'No rows.' %}
    {% endif %}
    </div>
</div>

<div class="col-md-4 email-list">
    <div class="well">
    <h2>{% trans 'E-mails' %}</h2>
    {% if object.email_set.all %}
    <ul>
        {% for email in object.email_set.all %}
        <li>{{email}} {% if email.email == object.address %}( {%trans 'Primary' %} ){% endif %}</li>
        {% endfor %}
    </ul>
    {% else %}
    {% trans 'No rows.' %}
    {% endif %}
    </div>
</div>
{% endcomment %}
