{% extends 'base.html' %}
{% load mptt_tags i18n %}
{% block content %}
<ol class="breadcrumb">
    {% for jst in breadcrumbs %}
    <li><a href="{% url 'institutions:jst_details' slug=jst.slug%}">{{jst}}</a></li>
    {% endfor %}
    <li class="active">{{jst}}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="glyphicon glyphicon-globe"></i>  <a href="{{object.get_absolute_url}}">{{object}}</a></h3>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Institutions</h3>
          </div>
          <table class="table table-stripped">
            {% for institution in object.institution_qs.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{institution.get_absolute_url}}">{{institution}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Children</h3>
          </div>
          <table class="table table-stripped">
            {% for jst in object.children.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'institutions:jst_details' slug=jst.slug %}">{{jst}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
</div>
{% endblock %}
