{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'User' %}: {{ user.username }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 gray">
                <h1>{% block header %}{% trans 'User' %}: {{ user.username }}{% endblock %}</h1>
                <form method="post" action="{% url 'users:update' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
