{% load guardian_tags i18n %}
{% if object.is_mass_draft %}
    {% get_obj_perms request.user for object.mass_draft.monitoring as "monitoring_perms" %}
{% else %}
    {% if object.case %}
        {% get_obj_perms request.user for object.case.monitoring as "monitoring_perms" %}
    {% endif %}
{% endif %}
<div class="clearfix">
    <div class="pull-right btn-group">
        {% if 'change_letter' in monitoring_perms %}
            <a class="btn btn-default" href="{% url 'letters:update' pk=object.pk %}">
                {% trans 'Edit' %}
            </a>
        {% endif %}

        {% if 'delete_letter' in monitoring_perms %}
            <a class="btn btn-warning" href="{% url 'letters:delete' pk=object.pk %}">
                {% trans 'Delete' %}
            </a>
        {% endif %}

        {% if 'reply' in monitoring_perms or 'add_draft' in monitoring_perms %}
            {% if not object.case.institution.archival %}
                {% if object.is_draft %}
                    <a class="btn btn-primary" href="{% url 'letters:send' pk=object.pk %}">
                        <i class="fa-solid fa-share-from-square"></i>
                        {% trans 'Send draft' %}
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'letters:reply' pk=object.pk %}">
                        <i class="fa-solid fa-reply"></i>
                        {% trans 'Reply' %}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if 'reply' in monitoring_perms and not object.author_institution_id and not object.case.institution.archival %}
            <a class="btn btn-primary" href="{% url 'letters:resend' pk=object.pk %}">
                <i class="fa-solid fa-reply"></i>
                {% trans 'Resend' %}
            </a>
        {% endif %}

        {% if not object.is_spam_validated and object.is_incoming %}
            <a class="btn btn-primary" href="{% url 'letters:spam' pk=object.pk %}">
                <i class="fa-solid fa-bullhorn"></i>
                {% trans 'Report spam' %}
            </a>
            {% if 'spam_mark' in monitoring_perms %}
                <a class="btn btn-primary" href="{% url 'letters:mark_spam' pk=object.pk %}">
                    <i class="fa-solid fa-bullhorn"></i>
                    {% trans 'Mark spam' %}
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
