{% load i18n humanize %}
<h3>
    <i class="fas fa-envelope"></i>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
    <small>
        {% trans 'by' %} <a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a>
        <time datetime="{{ object.created }}" title="{{ object.created | naturaltime }}">{{ object.created }}</time>
    </small>
    {% if object.attachment_count %}
        <span class="badge pull-right">
        <i class="fas fa-download"></i> {{ object.attachment_count }}
    </span>
    {% endif %}
    {% if object.ai_evaluation %}
        <br>
        <small>
            <i class="fa-solid fa-circle-question" data-toggle="tooltip" data-placement="bottom"
                title="{{ object.ai_prompt_help }}">
            </i> {% trans 'LLM evaluation: ' %}
            {{ object.ai_evaluation|linebreaksbr }}
        </small>
    {% endif %}
</h3>
