{% load i18n humanize %}
<tr>
    <td>
        <i class="fa-solid fa-envelope"></i>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        {% if object.ai_evaluation %}
            <p class="text-muted"><br>
                <i class="fa-solid fa-circle-question" data-toggle="tooltip" data-placement="bottom"
                    title="{{ object.ai_prompt_help }}">
                </i> {% trans 'LLM evaluation: ' %}
                {{ object.ai_evaluation|linebreaksbr }}
            </p>
        {% endif %}
    </td>
    <td>
        <i class="fa-solid fa-{{ object.author_user | yesno:'user,house' }}"></i>
        <a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a>
        <time datetime="{{ object.created }}" 
            title="{{ object.created | naturaltime }}">{{ object.created }}</time>
            {% if object.attachment_set.count > 0 %}
                <p class="text-muted">
                    <i class="fa-solid fa-paperclip"></i>: {{ object.attachment_set.count }}
                </p>
            {% endif %}
    </td>
</tr>
