{% load i18n crispy_forms_tags humanize %}
<div class="page-header">
    <h2>
        <i class="fas fa-envelope"></i>
        {% blocktrans with object=object object_url=object.get_absolute_url author=object.author author_url=object.author.get_absolute_url case=object.case case_url=object.case.get_absolute_url institution=object.case.institution institution=object.case.institution created=object.created created_natural=object.created|naturaltime %}
            <a href="{{ object_url }}">{{ object }}</a>
            <small>
                <time datetime="{{ created }}" title="{{ created_natural }}">{{ created }}</time>
            </small>{% endblocktrans %}
    </h2>
</div>

{% include 'letters/_object.html' %}
<div class="row">
    <div class="col-sm-10 col-xs-12">
        <form method="post" action="{% url 'letters:assign' pk=object.pk %}?{{ request.GET.urlencode }}q">
            {% csrf_token %}
            {% crispy object.assign_form %}
        </form>

        {% if object.eml %}
            <a class="btn btn-default" href="{% url 'letters:download' pk=object.pk %}">
                <i class="fas fa-download"></i>
                {% trans 'Download letter' %}
            </a>
        {% endif %}
    </div>
    <div class="col-sm-2 col-xs-2">
            <a class="btn btn-primary" href="{% url 'letters:mark_spam' pk=object.pk %}">
                <i class="fas fa-bullhorn"></i>
                {% trans 'Mark spam' %}
            </a>
    </div>
</div>
