{% load i18n %}
{{ object.body|linebreaks }}

{% if object.quote %}
    <blockquote class="expandable">
        {{ object.quote|linebreaks }}
    </blockquote>
{% endif %}

{% if object.note %}
    <div class="alert alert-warning">{{ object.note }}</div>
{% endif %}

{% if object.is_draft %}
    <div class="alert alert-warning">{% trans 'This is just a draft message. The message was not sent to the institution.' %}</div>
{% endif %}

{% if object.attachment_set.all %}
    <div class="attachment-list">
        <h4>
            {% trans 'Attachments' %}
        </h4>
        <ul>
            {% for attachment in object.attachment_set.all %}
                <li>
                    {{ attachment }}
                    {% if not attachment.has_scan_status %}
                        <a class="btn btn-xs btn-default" href="{% url 'letters:scan' pk=attachment.pk letter_pk=object.pk %}">
                            <i class="fa fa fa-eye"></i>
                            {% trans 'Scan' %}
                        </a>
                    {% endif %}
                    {% if not attachment.is_infected %}
                        <a class="btn btn-xs btn-primary" href="{{ attachment.get_absolute_url }}">
                            <i class="fa fa fa-download"></i>
                            {% trans 'Download' %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
