{% load i18n %}
{{ object.body|linebreaks }}

{% if object.quote %}
    <blockquote class="expandable">
        {{ object.quote|linebreaks }}
    </blockquote>
{% endif %}

{% if object.note %}
    <div class="alert alert-warning">{{ object.note }}</div>
{% endif %}

{% if object.is_draft %}
    <div class="alert alert-warning">{% trans 'This is just a draft message. The message was not sent to the institution.' %}</div>
{% endif %}

{% if object.attachment_set.all %}
    <div class="attachment-list">
        <h4>
            {% trans 'Attachments' %}
        </h4>
        <ul>
            {% for attachment in object.attachment_set.all %}
                <li>
                    <a href="{{ attachment.attachment.url }}">
                        {{ attachment }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
