{% load i18n letters_tags %}
<div class="letter-body">
    {% if object.html_body %}
        <iframe srcdoc="{{ object.html_body|hide_email|escape }}"
                sandbox="allow-top-navigation">
        </iframe>
    {% else %}
        {{ object.body|hide_email|linebreaks }}
    {% endif %}
</div>

{% if object.quote or object.html_quote %}
    <blockquote class="expandable">
        {% if object.html_quote %}
            <iframe srcdoc="{{ object.html_quote|hide_email|escape }}"
                    class="letter-quote"
                    sandbox="allow-top-navigation">
            </iframe>
        {% else %}
            {{ object.quote|hide_email|linebreaks }}
        {% endif %}
    </blockquote>
{% endif %}

{% if object.note %}
    <div class="alert alert-warning mt-1">{{ object.note }}</div>
{% endif %}

{% if object.is_draft %}
    <div class="alert alert-warning mt-1">
        {% if object.is_mass_draft %}
            {% trans 'This is a mass message draft. The message has not been sent to any recipients yet.' %}
        {% else %}
            {% trans 'This is just a draft message. The message was not sent to the institution.' %}
        {% endif %}
    </div>
{% endif %}

{% if object.is_mass_draft %}
    <h4>{% trans "Recipient's tags" %}</h4>
    <ul>
        {% for tag in object.mass_draft.recipients_tags.all %}
            <li>{{ tag.name }} - {{ tag.get_cases_count }} {% trans "recipients" %}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if object.attachment_set.all %}
    <div class="attachment-list">
        <h4>
            {% trans 'Attachments' %}
        </h4>
        <ul>
            <table class="table">
            {% for attachment in object.attachment_set.all %}
                <tr>
                    <td>
                        <li>
                            {{ attachment }}
                            {% if user.is_superuser or user.can_download_attachment %}
                                {% if attachment.current_scan_request %}
                                    ({% include 'virus_scan/_request.html' with object=attachment.current_scan_request %})
                                    {% if not attachment.is_infected %}
                                        <a class="btn btn-xs btn-primary" href="{{ attachment.get_absolute_url }}">
                                            <i class="fa-solid fa-download"></i>
                                            {% trans 'Download' %}
                                        </a>
                                        {% if enable_refresh_attachment_text_content %}
                                            <form class="form" method="post">
                                                {%csrf_token%}
                                                <div class="input-group">
                                                    <input type="hidden" id="refresh_attachment_text_content" 
                                                        name="refresh_attachment_text_content" value="true">
                                                    <div class="input-group-append">
                                                        <button type="submit" id="refresh_attachment_text_content"
                                                            class="btn btn-xs btn-primary">
                                                            <i class="fa-solid fa-arrows-rotate"></i>
                                                            {% trans 'Refresh text content' %}
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}                                        
                                    {% endif %}
                                {% else %}
                                    (nieskanowany)
                                    <a class="btn btn-xs btn-default" href="{% url 'letters:scan' pk=attachment.pk letter_pk=object.pk %}">
                                        <i class="fa-solid fa-eye"></i>
                                        {% trans 'Scan' %}
                                    </a>
                                {% endif %}
                            {% else %}
                                <i class="fa-solid fa-circle-question" data-toggle="tooltip" data-placement="bottom"
                                    title="Załączniki mogą być pobierane tylko przez uprawnionych użytkowników">
                                </i>
                            {% endif %}     
                        </li>
                    </td>
                    <td>
                        {% if attachment.text_content %}
                        <i class="fa-solid fa-triangle-exclamation" data-toggle="tooltip" data-placement="bottom"
                            title="{{attachment.text_content_warning}}">
                        </i>
                        <blockquote class="expandable" name="attachment_text">
                            <p>{{ attachment.text_content|linebreaksbr }}</p>
                        </blockquote>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>    
        </ul>
    </div>
{% endif %}
