{% extends 'letters/base.html' %}
{% load i18n humanize %}

{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.monitoring.get_absolute_url }}">
                {{ object.case.monitoring }}
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.get_absolute_url }}">
                <span itemprop="name">{{ object.case }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.get_absolute_url }}">
                <span itemprop="name">{{ object }}</span>
            </a>
        </li>
        {% block breadcrumb_row %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
                class="active">
                <span itemprop="name">{% if headline %}{{ headline }}{% else %}{% trans 'Edit' %}{% endif %}</span>
            </li>
        {% endblock %}
    </ol>
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'letters/_btn.html' with object=object %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>
            <i class="fa fa-envelope"></i>
            {% blocktrans with object=object object_url=object.get_absolute_url author=object.author author_url=object.author.get_absolute_url case=object.case case_url=object.case.get_absolute_url institution=object.case.institution institution=object.case.institution created=object.created created_natural=object.created|naturaltime %}
                <a href="{{ object_url }}">{{ object }}</a>
                <small>by <a href="{{ author_url }}"> {{ author }} </a>
                    <time datetime="{{ created }}" title="{{ created }}">{{ created_natural }}</time>
                    in case <a href="{{ case_url }}">{{ case }}</a> with <a
                            href="{{ institution_url }}">{{ institution }}</a></small>{% endblocktrans %}
        </h2>
    </div>
    <div class="gray">

        {% block content_object %}{% endblock %}
    </div>

{% endblock %}
