{% extends 'letters/base.html' %}
{% load i18n humanize %}

{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.monitoring.get_absolute_url }}">
                {{ object.case.monitoring }}
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.get_absolute_url }}">
                <span itemprop="name">{{ object.case }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.get_absolute_url }}">
                <span itemprop="name">{{ object }}</span>
            </a>
        </li>
        {% block breadcrumb_row %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
                class="active">
                <span itemprop="name">{% if headline %}{{ headline }}{% else %}{% trans 'Edit' %}{% endif %}</span>
            </li>
        {% endblock %}
    </ol>
{% endblock %}

{% block buttons %}
    {% if object %}
        {% include 'letters/_btn.html' with object=object %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>
            <i class="fa fa-envelope"></i>
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            <small>{% trans 'by' %} <a href="{{ object.author.get_absolute_url }}"> {{ object.author }}</a>
                <time datetime="{{ created }}" title="{{ object.created|naturaltime }}">{{ object.created }}</time>
                {% if object.case %}
                    {% trans 'in case of' %} <a href="{{ object.case.get_absolute_url }}">{{ object.case }}</a>
                    {% trans 'with' %} <a href="{{ object.case.institution.get_absolute_url }}">{{ object.case.institution }}</a>
                {% endif %}
            </small>
        </h2>
    </div>
    <div class="gray">
        {% if object.case %}
            {% include 'cases/_case_quarantined.html' with object=object.case %}
        {% endif %}
        {% block content_object %}{% endblock %}
    </div>

{% endblock %}
