{% extends 'letters/base_object.html' %}
{% load i18n %}
{% block title_prefix %}{% trans 'Letters' %} - {{ object }} - {{ object.case.monitoring }} - {% endblock title_prefix %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.monitoring.get_absolute_url }}">
                <span itemprop="name">{{ object.case.monitoring }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ object.case.get_absolute_url }}">
                <span itemprop="name">{{ object.case }}</span>
            </a>
        </li>
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{{ object }}</span>
        </li>
    </ol>
{% endblock %}

{% block content_object %}
    {% include 'letters/_letter_metadata.html' with object=object %}
    {% include 'letters/_object.html' with object=object %}
    {% if object.eml %}
        <a class="btn btn-default" href="{{ object.eml.url }}">
            <i class="fa fa-download"></i>
            {% trans 'Download letter' %}
        </a>
    {% endif %}
{% endblock %}
