{% extends 'letters/base_object.html' %}
{% load crispy_forms_tags i18n %}

{% block breadcrumb_row %}
    <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
        <span itmeprop="name">{% trans 'Reply' %}</span>
    </li>
{% endblock %}

{% block content %}
    <h2>
        <i class="fas fa-reply"></i>
        {% blocktrans with object=object url=object.get_absolute_url %}Reply for
            <a href="{{ url }}">{{ object }}</a>{% endblocktrans %}
    </h2>
    {% block content_object %}
        <div class="gray">
            <form enctype="multipart/form-data" method="POST">
                {% crispy form %}
                {% for inline in inlines %}
                    {% crispy inline %}
                {% endfor %}
            </form>
        </div>
    {% endblock %}
{% endblock %}
