{% extends 'letters/base_object.html' %}
{% load i18n %}
{% block title_prefix %}{% trans 'Letters' %} - {{ object }} - {{ object.case.monitoring }} - {% endblock title_prefix %}
{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            {% if object.is_mass_draft %}
                <a itemprop="item" href="{{ object.mass_draft.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ object.mass_draft.monitoring }}</span>
                </a>
            {% else %}
                <a itemprop="item" href="{{ object.case.monitoring.get_absolute_url }}">
                    <span itemprop="name">{{ object.case.monitoring }}</span>
                </a>
            {% endif %}
        </li>
        {% if object.case %}
            <li
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ object.case.get_absolute_url }}">
                    <span itemprop="name">{{ object.case }}</span>
                </a>
            </li>
        {% endif %}
        <li
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
            class="active">
            <span itemprop="name">{{ object }}</span>
        </li>
    </ol>
{% endblock %}

{% block content_object %}
    {% include 'letters/_letter_metadata.html' with object=object %}
    {% include 'letters/_object.html' with object=object %}
    {% if object.eml and not user.is_anonymous %}
        {% if user.is_superuser or user.can_download_attachment %}
            <a class="btn btn-default" href="{{ object.get_eml_url }}">
                <i class="fas fa-download"></i>
                {% trans 'Download letter' %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
