{% extends 'letters/base_object.html' %}
{% load crispy_forms_tags i18n %}
{% block content_object %}
    <form enctype="multipart/form-data" method="POST">
        {% if object.is_mass_draft %}
            <h5><b>{% trans "This is a mass message draft for recipients with tags:" %}</b></h5>
            <ul>
                {% for tag in object.mass_draft.recipients_tags.all %}
                    <li>{{ tag.name }} - {{ tag.get_cases_count }} {% trans "recipients" %}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% crispy form %}
        {% if object.is_draft  or object.is_mass_draft%}
            {% for inline in inlines %}
                {% crispy inline %}
            {% endfor %}
        {% else %}
            {% if object.attachment_set.all %}
                <div class="attachment-list">
                    <h4>
                        {% trans 'Attachments' %}
                    </h4>
                    <ul>
                        {% for attachment in object.attachment_set.all %}
                            <li>
                                {{ attachment }}
                                {% if attachment.current_scan_request %}
                                    ({% include 'virus_scan/_request.html' with object=attachment.current_scan_request %})
                                    {% if not attachment.is_infected %}
                                        <a class="btn btn-xs btn-primary" href="{{ attachment.get_absolute_url }}">
                                            <i class="fas fa-download"></i>
                                            {% trans 'Download' %}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    (nieskanowany)
                                    <a class="btn btn-xs btn-default" href="{% url 'letters:scan' pk=attachment.pk letter_pk=object.pk %}">
                                        <i class="fas fa-eye"></i>
                                        {% trans 'Scan' %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
