{% extends 'cases_tags/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{{ monitoring.get_absolute_url }}">
            <span itemprop="name">{{ monitoring }}</span>
        </a>
    </li>
    {% if object %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{% url 'cases_tags:list' monitoring=monitoring.pk %}">
            <span itemprop="name">{% trans 'Tags index' %}</span>
        </a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{{ object.get_absolute_url }}">
            <span itemprop="name">{{ object }}</span>
        </a>
    </li>
    {% else %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{% url 'cases_tags:list' monitoring=monitoring.pk %}">
            <span itemprop="name">{% trans 'Tags index' %}</span>
        </a>
    </li>
    {% endif %}
</ol>
{% endblock %}

{% block buttons %}
{% include 'cases_tags/_btn.html' with object=object monitoring=monitoring %}
{% endblock %}

{% block content %}
{% if object %}
<div class="page-header">
    <h1>
        <i class="fa-solid fa-bolt"></i>
        {{ object }}
    </h1>
</div>
{% endif %}
<div class="row">
    <div class="gray">
        {% block content_object %}{% endblock %}
    </div>
</div>
{% endblock %}