{% extends "base.html" %}
{% load tinycontent_tags %}

{% block content %}
<div class="row" style="margin-right: 15px; margin-left: 15px;">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2"
         style="text-align: justify;">
        <h2>O stronie Obywatelskie fedrowanie danych</h2>
        {% tinycontent 'base:about' %}
        <p>Do najważniejszych problemów debaty publicznej niewątpliwie zalicza się częste opieranie argumentacji na
            nieweryfikowalnych lub nieaktualnych danych.</p>
        <p>Informacje posiadane przez organy administracji publicznej są skarbnicą wiedzy. Ich skuteczne wykorzystanie
            pozwoliłoby rozwiać wiele pojawiających się wątpliwości. Niestety, forma ich przechowywania i udostępniania
            często uniemożliwia łatwe ich odczytanie oraz intepretację, w szczególności przy użyciu technik cyfrowych.</p>
        <p>Obywatelskie fedrowanie danych jest projektem powstałym w odpowiedzi na to wyzwanie. Ma na celu usystematyzowanie
            dużej liczby informacji spływających od instytucji publicznych oraz zapisanie ich w formie łatwej do analizy,
            zarówno przez człowieka, jak i maszynę. To obywatele-wolontariusze, którym zależy na jakości życia publicznego w
            Polsce, czytają udzielone przez organy odpowiedzi i uzupełniają bazę danych poprzez wykorzystanie intuicyjnego
            mechanizmu ankiet. Zebrane i uporządkowane dane służą następnie do przeprowadzania badań, które to przyczyniają
            się do wzrostu świadomości społecznej i poprawy jakości rządzenia.</p>
        <p>I Ty możesz pomóc. Każdy może wziąć udział w obywatelskim fedrowaniu danych - projekcie, który uwalnia dane
            publiczne spod narzuconych i ram i przenosi możliwości debaty na wyższy poziom. Razem można więcej!</p>
        <p>Na stronie internetowej zgromadziliśmy urzędowe odpowiedzi o informacje, a także określone zadania, które
            polegają na przeanalizowaniu i przetworzeniu odpowiedzi. Dzięki temu pozyskamy informacje, które możemy
            porównywać i mieć szersze spojrzenie niż tylko jeden urząd. Wykonaj opublikowane zadania (są one oznaczone ikoną
            <i class="fa-solid fa-pen-to-square"></i>), aby pomóc nam poznać
            fakty!</p>
        <p>Treści na stronie zorganizowane są poprzez monitoringi, które są grupą tematycznie powiązanych zapytań. Składają
            się one z wielu spraw, które tworzymy przed wysłaniem zapytania do dowolnego urzędu. Każda sprawa zawiera wiele
            listów wymienionych z danym urzędem.</p>
        {% endtinycontent %}
    </div>
</div>
{% endblock %}
