{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="jumbotron gray">
  <h1>{% trans "Let's civil data mining!" %}</h1>
  <p>{% trans 'Move debates to new age together!' %}</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">{% trans 'Learn more'%}</a></p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="red">
        <h2 class="title"><i class="glyphicon glyphicon-globe"></i> {% trans 'Voivodeships' %}</h3>
        {% include '_select_list.html' with object_list=voivodeship_list %}
      </div>
    </div>
    <div class="col-md-4">
    <div class="gray">
      <h2 class="title"><i class="glyphicon glyphicon-search"></i> {% trans 'Last monitorings' %}</h3>
      {% include '_select_list.html' with object_list=monitoring_list %}
    </div>
    </div>
</div>
{% endblock %}
