{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="gray" style="padding: 10px; padding-left: 40px; text-align: center;" >
                    <h1>{% trans "Let's civil data mining!" %}</h1>
                    <h4>{% trans 'Move debates to new age together!' %}</h4>
                    <p><a class="btn btn-primary " 
                        href="{% url 'about' %}" role="button">{% trans 'Learn more' %}</a>
                    </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="red">
                        <h2 class="title"><i class="fa-solid fa-earth-europe"></i> {% trans 'Voivodeships' %}</h2>
                            {% include 'teryt/_voivodeship_map.svg.html' %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" style="min-width: 400px;">
                    <div class="gray" style="min-width: 400px;">
                        {{ voivodeship_table }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="gray">
                        <h2 class="title"><i class="fa-solid fa-magnifying-glass"></i> {% trans 'Last monitorings' %}</h2>
                            {% if monitoring_list %}
                                {% include '_select_list.html' with object_list=monitoring_list %}
                            {% else %}
                                <p>{% trans 'No rows.' %}</p>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}
