interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?sort=created_at&limit=20
  response:
    body: {string: !!python/unicode '{"status": "success", "code": 200, "number_of_elements":
        328, "req_id": "AWrT5b4L3x", "message": null, "data": [{"ok_desc": "250 OK.
        ID: b6c12e2166d3345b", "account": "eec6e3e5b1af4febe0797d484ff003621525cee6",
        "tracking": [], "from": "419d9c163538b8c2fa9e4edd1fe575324f107ef5", "open_time":
        "2017-08-18 22:21:23", "vps": "smtp2-87", "tags": [], "injected_time": "2017-08-13
        10:57:52", "created_at": null, "updated_at": null, "id": "5990151fe4c40955c5020594",
        "to": "866b31f8851a2dd4d983f65cd9e5e4ca3a8d06d3", "postfix_id": ["3xVXh02vgXz3Fykd",
        "3xVXh04JFNz6Q5MG"], "ok_time": "2017-08-13 10:57:53", "open_desc": "ok",
        "subject": "19d205c02170c0ffc5ff2c38976ffe34ba05a062", "message_id": "0",
        "uid": "22e443505ed6455102b18fbc1cc6b475"}, {"ok_desc": "250 OK id=1dh2Hq-0003lL-3O",
        "account": "eec6e3e5b1af4febe0797d484ff003621525cee6", "tracking": [], "from":
        "5488ff3114a4fcdb830fdc7852195b7f9c7953eb", "open_time": null, "vps": "smtp2-87",
        "tags": [], "injected_time": "2017-08-14 01:27:13", "created_at": null, "updated_at":
        null, "id": "5990e103e4c40955c5157c16", "to": "1699b6f1771032de891a671db999a334540a6044",
        "postfix_id": ["3xVvz30H8sz6g1ND", "3xVvz53[...]
