interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=0&sort=created_at
  response:
    body: {string: !!python/unicode '{"status": "success", "message": null, "code":
        200, "data": [{"ok_desc": "250 OK id=1exaBH-0003VY-4m", "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c",
        "tracking": [], "from": "41912d1458e95a76ff968e1e41d0e20600fec2d6", "open_time":
        null, "vps": "smtp2-87", "tags": [], "injected_time": "2018-03-18 16:25:05",
        "created_at": "2018-03-18 16:25:05", "updated_at": null, "id": "5aae858c4e1a741897bb2d9c",
        "to": "f5be4b57e00795d97e769754150baf5b97afd5d0", "postfix_id": ["40430d2SHPz6V07c",
        "40430d3Gk5z6Q5ql"], "ok_time": "2018-03-18 16:25:07", "open_desc": null,
        "subject": "1326a4a4ad8cd71c3aa3a7b37e91eac1e838fb6a", "message_id": "20180318152505.46100.53067@localhost",
        "uid": "de7efbe9a56f19a421064f8c4daeb847"}, {"ok_desc": "250 OK id=1exaBI-0003Vu-44",
        "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c", "tracking": [], "from":
        "41912d1458e95a76ff968e1e41d0e20600fec2d6", "open_time": null, "vps": "smtp2-87",
        "tags": [], "injected_time": "2018-03-18 16:25:05", "created_at": "2018-03-18
        16:25:05", "updated_at": null, "id": "5aae858d4e1a741897bb2dbd", "to": "e7a9f3ad2ef1c0ac1a6b86a10339f8b969a5eb47",
        "postfix_id": ["40430d2rLq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=20&sort=created_at
  response:
    body: {string: !!python/unicode '{"status": "success", "code": 200, "number_of_elements":
        552, "req_id": "MnzbNoA795", "message": null, "data": [{"ok_desc": "250 OK
        id=1exiW0-0002FD-8W", "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c",
        "tracking": [], "from": "469cf2f2c23af8ba1ae3c4f052ffe0d64372cb4b", "open_time":
        null, "vps": "smtp2-87", "tags": [], "injected_time": "2018-03-19 01:19:02",
        "created_at": "2018-03-19 01:19:02", "updated_at": null, "id": "5aaf02b74e1a741897c6d13a",
        "to": "f5be4b57e00795d97e769754150baf5b97afd5d0", "postfix_id": ["404Grk5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=200&sort=created_at
  response:
    body: {string: !!python/unicode '{"status": "success", "code": 200, "number_of_elements":
        552, "req_id": "g33dZsIE5I", "message": null, "data": [{"ok_desc": "250 OK.
        ID: 242fb4aa4e5d47f0", "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c",
        "tracking": [], "from": "a63d57ad4ea35702a474fb3dbc0802d71621f1a6", "open_time":
        null, "vps": "smtp2-87", "tags": [], "injected_time": "2018-03-20 17:38:11",
        "created_at": "2018-03-20 17:38:11", "updated_at": null, "id": "5ab139a84e1a7418972984f8",
        "to": "f7995337c218963b683a4ff50523690e66729339", "postfix_id": ["405JX26bWkz23lBR",
        "405JX30Myrz6QBH8"], "ok_time": "2018-03-20 17:38:1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=400&sort=created_at
  response:
    body: {string: !!python/unicode '{"status": "success", "code": 200, "number_of_elements":
        552, "req_id": "mATFgrOwx9", "message": null, "data": [{"ok_desc": "250 2.0.0
        Ok: queued as E65C41D64B3", "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c",
        "tracking": [], "from": "c096e89c216e9b09650c7e6a2bf8aa276ad25204", "open_time":
        null, "vps": "smtp2-87", "tags": [], "injected_time": "2018-03-22 22:50:04",
        "created_at": "2018-03-22 22:50:04", "updated_at": null, "id": "5ab425cc4e1a741897eb6ce7",
        "to": "fcaed7bf3a34b4e870c24a014853daf33a3c127c", "postfix_id": ["406gM00qXgz8rYMB",
        "406gM03nYmz6QBHB"], "ok_time": "2018-03-22 22[...]
[...]
