interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&sort=created_at
  response:
    body: {string: '{"code": 200, "message": null, "number_of_elements": 552, "data":
        [{"account": "51682b35222e27ec8221b6fa432123a45f4af33f", "created_at": "2018-03-18
        16:25:05", "ok_desc": "250 OK id=1exaBH-0003VY-4m", "tags": [], "to": "c008867b65329c48d069e04151405fc42e7e5c8e",
        "from": "9070868db43e34dd4091a28463a36a6c95417853", "subject": "8dac7d58b033eb4430630422791543d2f1f174f4",
        "open_time": null, "postfix_id": ["40430d2SHPz6V07c", "40430d3Gk5z6Q5ql"],
        "message_id": "20180318152505.46100.53067@localhost", "id": "5aae858c4e1a741897bb2d9c",
        "open_desc": null, "updated_at": null, "ok_time": "2018-03-18 16:25:07", "tracking":
        [], "injected_time": "2018-03-18 16:25:05", "vps": "smtp2-87", "uid": "de7efbe9a56f19a421064f8c4daeb847"},
        {"account": "51682b35222e27ec8221b6fa432123a45f4af33f", "created_at": "2018-03-18
        16:25:05", "ok_desc": "250 OK id=1exaBI-0003Vu-44", "tags": [], "to": "7ab21cbf13cf640e826d9aea9ade4a71d7587e62",
        "from": "9070868db43e34dd4091a28463a36a6c95417853", "subject": "8dac7d58b033eb4430630422791543d2f1f174f4",
        "open_time": null, "postfix_id": ["40430d2rLqz6fsq4", "40430d3jyBz6Q5qs"],
        "message_id": "20180318152505.46100.94678@lo[...]
