interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=0&sort=created_at
  response:
    body: {string: '{"number_of_elements": 552, "data": [{"injected_time": "2018-03-18
        16:25:05", "message_id": "20180318152505.46100.53067@localhost", "tags": [],
        "open_desc": null, "from": "95262c28b3d259f319e732097e167840e851a543", "tracking":
        [], "to": "a72adc4d79e168cc0e16572fb53c9e2a294544e5", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-18 16:25:05", "open_time": null, "updated_at": null,
        "postfix_id": ["40430d2SHPz6V07c", "40430d3Gk5z6Q5ql"], "ok_desc": "250 OK
        id=1exaBH-0003VY-4m", "vps": "smtp2-87", "subject": "1b75d6b75515c8aab91314b010ea654186aa950a",
        "id": "5aae858c4e1a741897bb2d9c", "ok_time": "2018-03-18 16:25:07", "uid":
        "de7efbe9a56f19a421064f8c4daeb847"}, {"injected_time": "2018-03-18 16:25:05",
        "message_id": "20180318152505.46100.94678@localhost", "tags": [], "open_desc":
        null, "from": "95262c28b3d259f319e732097e167840e851a543", "tracking": [],
        "to": "0730d29ffb4a8e831a2e240d73584e1ea0a61657", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-18 16:25:05", "open_time": null, "updated_at": null,
        "postfix_id": ["40430d2rLqz6fsq4", "404[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=160&sort=created_at
  response:
    body: {string: '{"number_of_elements": 552, "data": [{"injected_time": "2018-03-20
        13:10:47", "message_id": "20180320121047.22431.41888@localhost", "tags": [],
        "open_desc": null, "from": "61e55604a1b7c37e39fcdb31064b742b2d4babb6", "tracking":
        [], "to": "7de7ab75c36f1b0fe2ccfe2990c06ae44ee52eb5", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-20 13:10:47", "open_time": null, "updated_at": null,
        "postfix_id": ["405BbW3TKdzBTXPn", "405BbW4Jf8z6Q9mh"], "ok_desc": "250 OK
        id=1eyG6M-0008K7-Oh", "vps": "smtp2-87", "subject": "c5c59b3be974a04052d42f3bfb2f0ce43e81d555",
        "id": "5ab0fadb4e1a741897216db6", "ok_time": "2018-03-20 13:10:51", "uid":
        "3a109a246bb6d67a5966b7e3f55ca57d"}, {"injected_time": "2018-03-20 13:10:56",
        "message_id": "20180320121055.22433.37285@localhost", "tags": [], "open_desc":
        null, "from": "61e55604a1b7c37e39fcdb31064b742b2d4babb6", "tracking": [],
        "to": "d7db8f83fe9f3e022c60aa747893cb834cded596", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-20 13:10:56", "open_time": null, "updated_at": null,
        "postfix_id": ["405Bbh1KDrz6fsmd", "405Bbh28lJz6QB1g"], "ok_desc": "250 2.0.0
        Ok: queued as 405Bbj2tf0z6CfpGl", "vps": "smtp2-87", "subject": "9104f6a498c16de167ff7d5374e728a018d16fde",
        "id": "5ab0fad94e1a7418972168ab", "ok_time": "2018-03-20 13:10:57", "uid":
        "3cd721d435567a764e2714317e6d73a7"}, {"injected_time": "2018-03-20 13:10:56",
        "message_id": "20180320121056.22433.67927@localhost", "tags": [], "open_desc":
        null, "from": "61e55604a1b7c37e39fcdb31064b742b2d4babb6", "tracking": [],
        "to": "0730d29ffb4a8e831a2e240d73584e1ea0a61657",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&offset=200&sort=created_at
  response:
    body: {string: '{"number_of_elements": 552, "data": [{"injected_time": "2018-03-20
        17:38:11", "message_id": "20180320163810.22434.94140@localhost", "tags": [],
        "open_desc": null, "from": "7c9c45325ca11cf493612f336a24bb566aa4dc71", "tracking":
        [], "to": "bf30514d0285b57555f10586e4b1204dfd1d8aab", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-20 17:38:11", "open_time": null, "updated_at": null,
        "postfix_id": ["405JX26bWkz23lBR", "405JX30Myrz6QBH8"], "ok_desc": "250 OK.
        ID: 242fb4aa4e5d47f0", "vps": "smtp2-87", "subject": "ee6f54a9a02d64fac4dfc6f0a1e1ec175730ba43",
        "id": "5ab139a84e1a7418972984f8", "ok_time": "2018-03-20 17:38:11", "uid":
        "1f1bd1ad3da3b367b28388c0ff35ad4f"}, {"injected_time": "2018-03-20 19:18:32",
        "message_id": "20180320181832.22431.14553@localhost", "tags": [], "open_desc":
        null, "from": "e389eff36189f2ac4f512ef594d6a29c2da95275", "tracking": [],
        "to": "03bfe5c0a9dfd9f3da0305e5fbaf525abe9cc5b2", "account":[...]
[...]
