interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&sort=created_at
  response:
    body: {string: !!python/unicode '{"status": "success", "code": 200, "number_of_elements":
        552, "req_id": "XmRIFfALLd", "message": null, "data": [{"ok_desc": "250 OK
        id=1exaBH-0003VY-4m", "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c",
        "tracking": [], "from": "41912d1458e95a76ff968e1e41d0e20600fec2d6", "open_time":
        null, "vps": "smtp2-87", "tags": [], "injected_time": "2018-03-18 16:25:05",
        "created_at": "2018-03-18 16:25:05", "updated_at": null, "id": "5aae858c4e1a741897bb2d9c",
        "to": "f5be4b57e00795d97e769754150baf5b97afd5d0", "postfix_id": ["40430d2SHPz6V07c",
        "40430d3Gk5z6Q5ql"], "ok_time": "2018-03-18 16:25:07", "open_desc": null,
        "subject": "1326a4a4ad8cd71c3aa3a7b37e91eac1e838fb6a", "message_id": "20180318152505.46100.53067@localhost",
        "uid": "de7efbe9a56f19a421064f8c4daeb847"}, {"ok_desc": "250 OK id=1exaBI-0003Vu-44",
        "account": "16b7b49bb578b585d4ac61a73af5f9c95c5b7d6c", "tracking": [], "from":
        "41912d1458e95a76ff968e1e41d0e20600fec2d6", "open_time": null, "vps": "smtp2-87",
        "tags": [], "injected_time": "2018-03-18 16:25:05", "created_at": "2018-03-18
        16:25:05", "updated_at": null, "id": "5aae858d4e1a741897bb2dbd", "to": "e7a9f3ad2ef1c0ac1a6b86a10339f8b969a5eb47",
        "postfix_id": ["40430d2rLq[...]
