interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.emaillabs.net.pl/api/emails?limit=20&sort=created_at
  response:
    body: {string: '{"number_of_elements": 552, "data": [{"injected_time": "2018-03-18
        16:25:05", "message_id": "20180318152505.46100.53067@localhost", "tags": [],
        "open_desc": null, "from": "95262c28b3d259f319e732097e167840e851a543", "tracking":
        [], "to": "a72adc4d79e168cc0e16572fb53c9e2a294544e5", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-18 16:25:05", "open_time": null, "updated_at": null,
        "postfix_id": ["40430d2SHPz6V07c", "40430d3Gk5z6Q5ql"], "ok_desc": "250 OK
        id=1exaBH-0003VY-4m", "vps": "smtp2-87", "subject": "1b75d6b75515c8aab91314b010ea654186aa950a",
        "id": "5aae858c4e1a741897bb2d9c", "ok_time": "2018-03-18 16:25:07", "uid":
        "de7efbe9a56f19a421064f8c4daeb847"}, {"injected_time": "2018-03-18 16:25:05",
        "message_id": "20180318152505.46100.94678@localhost", "tags": [], "open_desc":
        null, "from": "95262c28b3d259f319e732097e167840e851a543", "tracking": [],
        "to": "0730d29ffb4a8e831a2e240d73584e1ea0a61657", "account": "45c70bc5d3e80501a18b922281585d38c6c9c425",
        "created_at": "2018-03-18 16:25:05", "open_time": null, "updated_at": null,
        "postfix_id": ["40430d2rLqz6fsq4", "404[...]
