{% extends 'base.html' %}
{% load mptt_tags i18n %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    {% for jst in object.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-globe"></i> {{object}} <small>{{object.category}}</small></h1>
</div>

<div class="row">
    {% if object.children.with_category.all %}
    <div class="col-md-3">
        <div class="gray">
            <h2 class="title">{% trans 'Subordinate units'%}</h2>
            <ul class="select-list">
                {% for jst in object.children.with_category.all %}
                <li><a href="{{jst.get_absolute_url}}">{{jst}} ({{jst.category}})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="col-md-3">
        <div class="red">
            <h2 class="title">
                <i class="glyphicon glyphicon-home"></i>
                {% trans 'Institutions'%}
            </h2>
            {% include '_select_list.html' with object_list=object.institution_qs.all %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="gray">
            <h2 class="title">
                <i class="glyphicon glyphicon-search"></i>
                {% trans 'Cases'%}
            </h2>
            {% include '_select_list.html' with object_list=object.case_qs.all %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="red">
            <h2 class="title">
                <i class="glyphicon glyphicon-folder-open"></i>
                {% trans 'Tasks' %}
            </h2>
            {% include '_select_list.html' with object_list=object.task_qs.all %}
        </div>
    </div>
</div>
{% endblock %}
