{% extends 'base.html' %}
{% load mptt_tags i18n %}
{% block content %}
<ol class="breadcrumb">
    {% for jst in object.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li class="active">{{object}}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="glyphicon glyphicon-globe"></i>  <a href="{{object.get_absolute_url}}">{{object}}</a></h3>
  </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Subordinate units'%}</h3>
          </div>
          <table class="table table-stripped">
            {% for jst in object.children.with_category.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{jst.get_absolute_url}}">{{jst}} ({{jst.category}})</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Institutions'%}</h3>
          </div>
          <table class="table table-stripped">
            {% for institution in object.institution_qs.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{institution.get_absolute_url}}">{{institution}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Cases'%}</h3>
          </div>
          <table class="table table-stripped">
            {% for case in object.case_qs.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{case.get_absolute_url}}">{{case}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Tasks' %}</h3>
          </div>
          <table class="table table-stripped">
            {% for task in object.task_qs.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{task.get_absolute_url}}">{{task.case}} in {{task.case.monitoring}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
</div>
{% endblock %}
