{% extends 'base.html' %}
{% load mptt_tags i18n %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol
        class="breadcrumb"
        itemscope
        itemtype="http://schema.org/BreadcrumbList">

        {% with obj_jst=object %}
            {% include "institutions/_jst_breadcrumbs.html" %}
        {% endwith %}
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2><i class="fa-solid fa-earth-europe"></i> {{ object.name }}
            <small>{{ object.category }}</small>
        </h2>
    </div>

    <div class="row">
        {% if object.children.with_category.all %}
            <div class="col-md-4">
                {% if object.level < 2 %}
                    <div class="gray">
                        <h3 class="title">{% trans 'Voivodeships' %}</h3>
                        {% include 'teryt/_voivodeship_map.svg.html' with selected=object %}
                    </div>
                {% endif %}
                <div class="gray">
                    <h3 class="title">{% trans 'Subordinate units' %}: {{object.children.with_category.all.count}}</h3>
                    <ul class="select-list">
                        {% for jst in object.children.with_category.all %}
                            <li><a href="{{ jst.get_absolute_url }}">{{ jst }} ({{ jst.category }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="col-md-4">
            <div class="red">
                <h3 class="title">
                    <i class="fas fa-house"></i>
                    {% trans 'Institutions' %}: {{ institution_qs.count }}
                </h3>
                {% if institution_qs %}
                    {% include '_select_list.html' with object_list=institution_qs %}
                {% else %}
                    <p>{% trans 'No rows.' %}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="gray">
                <h3 class="title">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    {% trans 'Cases' %}: {{ case_qs.count }}
                </h3>
                {% if case_qs %}
                    {% include '_select_list.html' with object_list=case_qs %}
                {% else %}
                    <p>{% trans 'No rows.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
