name: Front-end

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build frontend
      run: docker-compose up gulp
    - name: Show git status
      run: git status
    - name: Require rebuild content
      run: >
        git diff-index --quiet HEAD -- feder/static/ package*.json || (
          echo "Pending changes in the front-end have been detected.";
          echo "Use 'make regenerate_frontend' to regenerate front-end and commit changes.";
          echo "Following changes pending:";
          git diff;
          exit 1;
        )
