name: Python package

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  django:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: 
#          - 3.6
          - "3.10"
        django:
#          - "==2.2.*"
          - "==3.1.5"
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true
    - name: Build application
      run: docker-compose build web
      env:
        PYTHON_VERSION: ${{ matrix.python }}
        DJANGO_VERSION: ${{ matrix.django }}
        METADEFENDER_API_KEY: ${{ secrets.METADEFENDER_API_KEY }}
    - name: Run side services
      run: make wait_mysql wait_elasticsearch wait_tika
    - name: Migration check
      run: make check
    - name: Show settings
      run: make settings
    - name: Build test
      run: make test
#     - name: Send coverage report
#       run: make coverage_send
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    - name: Show MySQL logs
      run: docker-compose logs db
      if: failure()
    - name: Show Elasticsearch logs
      run: docker-compose logs elasticsearch
      if: failure()
    - name: Show Tika logs
      run: docker-compose logs tika
      if: failure()
    - name: Show docker process
      run: docker ps
      if: always()
